[2012-08-20 23:03] earwig opened #1 "py3k stuff"
Step 1: `from __future__ import unicode_literals` in all files.

Step 2: `from . import compatibility` (or `from . import compat`) – uses `str` and `bytes` on Python 3, and `str = unicode` and `bytes = str` on Python 2.

[2012-08-21 21:29] #1 closed, assigned to earwig

[2012-08-21 21:30] earwig opened #4 "Fix parsing of {{{params}}}"
Currently, `{{{param}}}` will be parsed as a template of `{param` followed by the text `}`. This is a problem that should be fixed before releasing the parser into the wild.

[2012-08-21 21:31] earwig opened #5 "Document everything appropriate and build the Sphinx doc tree"

[2012-08-21 23:36] earwig opened #6 "Template parameters containing newlines should be invalid"

[2012-08-21 23:37] earwig opened #7 "Unit tests"
Unit tests for all the things!

[2012-08-21 23:56] earwig opened #8 "Add missing setters for some nodes and extras"
- `Attribute`
- `Heading`
- `HTMLEntity`
- `Tag`
- `Text`

[2012-08-22 00:00] earwig opened #9 "Implement Tag support in the parser"

[2012-08-22 00:02] earwig opened #10 "Implement missing node types"
- ~~`Comment`~~
- `ParserFunction` / `MagicWord` / `BehaviorSwitch`
- ~~`Link`~~
- ~~`Table`~~
- `Redirect`

[2012-08-22 03:17] #5 closed, assigned to earwig

[2012-08-22 03:38] earwig opened #11 "Implement Tag attribute has/get/add/remove API"
This might include some convenience methods for dealing with references.

[2012-08-22 03:44] #8 closed, assigned to earwig

[2012-08-22 03:50] #6 closed, assigned to earwig

[2012-08-23 07:26] #4 closed, assigned to earwig

[2012-09-20 00:27] legoktm opened #12 "Not detecting all templates on [[Talk:Lost Girls]]"
[code]

It's missed the following template:
`{{comicsproj}}`

I'm using [this version](https://en.wikipedia.org/w/index.php?title=Talk:Lost_Girls&oldid=350769597) of the page. And I'm using mwparserfromhell 0.1 from pypi.

[2012-09-20 03:57] #12 closed, assigned to earwig

[2012-11-21 22:27] notconfusing opened #13 "Crashing on some malformed data"
Hello,

I get an AttributeError that 'NoneType' Object has no attribute '**iternodes**' [1].
Which is fair, but why isn't there a check for the None type here? What is the most elegant way to handle this?

I should note Wikicode that this is being called on is malformed as well [2]. It's from a wikipedia dump.

[1]  File "xmlToOCLCNum.py", line 38, in findOCLCNums
    templates = wikicode.filter_t

[2012-11-21 23:43] #13 closed, assigned to earwig

[2012-11-28 20:00] nettrom opened #14 "Strip whitespace from template names"
Given the following MediaWiki code:

{{User:Foo/Bar
|param1=foo|param2=bar|param3=baz}}

The given template's name is "u'User:Foo/Bar\n'"

Is that a feature or a bug?  I would have expected the newline to be stripped from the name.

[2012-12-04 23:12] notconfusing opened #16 "Receiving RuntimeError: maxmium recursion depth exceeded"
I'm not sure if it's this page (it does have a lot of templates), or the fact that I'm running it MultiProcessed over 32 Cores (see my project https://github.com/notconfusing/mwparameterhell )

But this is the if I catch the run time error:

[code]

this is the pagetext:

[code]

[2012-12-11 16:38] bunyk opened #17 "Problem with iteration over slice of nodes"
[code]

[2012-12-11 23:07] #17 closed, assigned to earwig

[2012-12-20 01:48] earwig opened #18 "C Tokenizer should be Py3k-compatible"
The C tokenizer should correctly work with Python 3 before being fully released in v0.2.

[2012-12-20 21:28] notconfusing opened #19 "LaTex in Wikitext, ignore <math> tags?"
I seem to encounter performance issues on pages that have math in them. For instance: http://en.wikipedia.org/wiki/Spence%27s_function

Lines like

[code]

 correctly aren't recorgnized at the \pi template, but take a very long time to not be recognized.

Best way forwards, institute a ignoreMath=True option on filter_templates ?

[2013-01-01 21:36] rumpelt opened #20 "segmentation fault (Python Interpreter Crashes)"
Hello Everyone,

I am getting segmentation fault while parsing some wiki pages.
It is very easily reproducible.
I am using python 2.6.6.
To reproduce this fetch wiki page of 'Albert Einstein' and call mwparserfromhell.parse() with the text of this page.
I have observed segmentation fault with some other pages.
I use wiki api to fetch page of Albert Einstein in xml format and the parse the xml cont

[2013-01-07 21:54] legoktm opened #21 "Insert parameter into a template after another parameter"
It should be possible to specificy in what order you want the parameter to be added.
Maybe something like:

[code]

[2013-01-07 22:47] #20 closed, assigned to earwig

[2013-01-08 14:24] nettrom opened #22 "Templates inside section headings"
Given the following code:

[code]

I then find that templates is an empty list.

I would suspect the template inside a heading to be valid markup, but maybe I'm mistaken?  Looking around in various MediaWiki help pages did not suggest it wasn't OK though.

[2013-01-08 23:01] #22 closed, assigned to earwig

[2013-01-08 23:17] earwig opened #23 "Changelog"
Start a changelog covering relevant updates (bugfixes, new/modified APIs) to be read when upgrading. First cover old changes from v0.1.1, then for the new v0.2.

[2013-01-23 22:04] jfolz opened #24 "Template rejected by parser"
I've come across this little gem here:

[code]

It's from here: http://de.wikipedia.org/w/index.php?title=Strausberger_Platz&oldid=112496475

As soon as the line
`Bild=Strausberger Platz Berlin April 2006 109.jpg|miniatur`
is added to the template, it is rejected and a Text node is created instead.
Even though this markup doesn't make sense, I would expect a Template node with a value-less paramet

[2013-01-24 08:08] #24 closed, assigned to earwig

[2013-02-28 17:40] gdooms opened #25 "Issue with templates"
Using 0.1.1 with python 2.7.
With this markup (simplified from http://en.wikipedia.org/w/index.php?action=raw&title=Applied%20Materials) :

[code]

I cannot get the template "Infobox company" from
mwparserfromhell.parse(test).filter_templates()[0].name
If I remove the newline between the {{decrease}} and the ref, it works.

[2013-04-16 20:38] Betacommand opened #26 "git install error"
C:\Python27\setups\mwparserfromhell>setup.py install
running install
running bdist_egg
running egg_info
writing mwparserfromhell.egg-info\PKG-INFO
writing top-level names to mwparserfromhell.egg-info\top_level.txt
writing dependency_links to mwparserfromhell.egg-info\dependency_links.txt
reading manifest file 'mwparserfromhell.egg-info\SOURCES.txt'
writing manifest file 'mwparserfromhell.egg-info\

[2013-04-19 00:05] #25 closed, assigned to earwig

[2013-04-19 13:29] lukeorland opened #28 "is strip_code() implemented?"
[code]

Am I doing something wrong?
I haven't found `__strip__` implemented for any of the `Node` subclasses.

[2013-04-21 20:29] #26 closed, assigned to earwig

[2013-04-22 00:50] #16 closed, assigned to earwig

[2013-04-26 20:18] Betacommand opened #29 "Support <ref> and related tags"
create a method for extracting and working with references in a article

[2013-04-26 22:17] #21 closed, assigned to earwig

[2013-05-03 22:35] earwig opened #30 "HTML Tags: Doesn't parse ref tag name parameters with double-quotes and hyphen"
[[1]](http://en.wikipedia.org/wiki/User_talk:The_Earwig/Archive_8#mwparserfromhell_0.2-dev_bug:_doesn.27t_parse_ref_tag_name_parameters_with_double-quotes_and_hyphen)

[2013-05-03 22:38] earwig opened #31 "HTML Tags: self-closing tags not handled properly"
[code]

[code]

[[1]](http://en.wikipedia.org/wiki/User_talk:The_Earwig/Archive_8#mwparserfromhell_0.2-dev_bug:_self-closing_tags_not_handled_properly)

[2013-05-17 00:47] HazardSJ opened #32 "Installation error"
As I mentioned on IRC, I had a problem installing via the version from git (installed successfully via pip). While attempting to use the feature/html_tags branch, I ran setup.py install, but among other things, it returned:
![mwparserfromhell error](https://f.cloud.github.com/assets/1498451/515876/a5215c9a-be8b-11e2-8fa1-371ad374c607.png)

IIRC, this was the same error I got before after doing a s

[2013-05-17 01:33] #32 closed, assigned to earwig

[2013-05-19 04:33] #7 closed, assigned to earwig

[2013-05-19 18:42] #31 closed, assigned to earwig

[2013-05-29 22:13] earwig opened #33 "Travis support"
Implement support for [Travis CI](https://travis-ci.org/)! Should be simple enough.

[2013-06-01 19:35] #33 closed, assigned to earwig

[2013-06-01 21:42] #30 closed, assigned to earwig

[2013-06-04 03:09] earwig opened #34 "Allow some methods of Wikicode (like remove()) to be passed other Wikicode objects"
Reported by @HazardSJ:

`a.remove(b)` (given `a` and `b` as `Wikicode` objects, `b` as a subset of `a`):
- _expected_: all nodes within `b` are removed from `a`
- _actual_: `ValueError` is raised

**Note**: the docs are clear that `remove()` doesn't accept a `Wikicode` object, but the functionality is useful when sections are passed. Therefore, the method should be careful to iterate correctly ove

[2013-06-06 16:42] theopolisme opened #35 "template.add() malfunction?"
([link to source where problem occurs](https://github.com/theopolisme/theobot/blob/master/deadlink_waybacker.py#L70-L76))

I'm running a script that adds archiveurl and archivedate parameters to templates (linked above).

When I ran the script for a page that had multiple dead links that needed fixing, [this (diff)](https://en.wikipedia.org/w/index.php?title=10_Hronia_Mazi&diff=prev&oldid=55854781

[2013-06-06 23:07] #35 closed, assigned to earwig

[2013-06-20 21:47] #23 closed, assigned to earwig

[2013-06-29 02:46] earwig opened #36 "HTML entities should be valid within certain parser-blacklisted tags"
- Given: `<pre>&nbsp;</pre>`
- Expected:
  `[TagOpenOpen(showtag=True), Text(text="pre"), TagCloseOpen(),
  HTMLEntityStart(), Text(text="nbsp"), HTMLEntityEnd(),
  TagOpenClose(), Text(text="pre"), TagCloseClose()]`
- Actual:
  `[TagOpenOpen(showtag=True), Text(text="pre"), TagCloseOpen(),
  Text(text="&nbsp;"),
  TagOpenClose(), Text(text="pre"), TagCloseClose()]`

[2013-08-14 18:01] #9 closed, assigned to earwig

[2013-08-14 18:36] #28 closed, assigned to earwig

[2013-08-14 18:38] #29 closed, assigned to earwig

[2013-08-14 18:45] #19 closed, assigned to earwig

[2013-08-15 02:03] #14 closed, assigned to earwig

[2013-08-15 02:24] #36 closed, assigned to earwig

[2013-08-15 05:58] earwig opened #37 "C tokenizer: use Python 3's new Unicode APIs"
Instead of turning `self->text` into a tuple of one-char Unicode strings, we should keep the original Unicode object and use the various (new) accessor methods to work with it. This is a fairly fundamental change to the way C parsing works, so I'm leaving it for v0.4.

[2013-08-15 06:17] earwig opened #38 "C tokenizer: use goto for error handling"
The Python C API docs recommend `goto` (gasp) for error handling in C functions, where there's a block at the end of each function that calls `Py_XDECREF()` on every Python object used in that function and then returns a pre-set value (0 or 1 depending on success or failure). This is better than our current system of a bunch of `Py_DECREF()` calls every time a function raises an error.

[2013-08-15 06:49] #18 closed, assigned to earwig

[2013-08-15 06:56] earwig opened #39 "Add support for external links"

[2013-08-19 06:18] #34 closed, assigned to earwig

[2013-08-19 08:55] earwig opened #40 "The tokenizer incorrectly handles some difficult tag-related markup"
1. Bold and italics that cross contexts are handled incorrectly, because the tree structure does not support overlapping nodes (for example, `''foo'''bar''baz'''`, or `''foo{{bar|baz''}}`). Fixing this will probably be very difficult.
2. Open tags that do not have a close tag before the parser reaches EOF are ignored, whereas some of them should be parsed (like bold and italics) and have some kind

[2013-08-19 09:02] earwig opened #41 "C tokenizer: emit tokens simpler than the expensive PyObject* kind"
Allocating and filling the slots of `PyObject*`s every time we create a token (even if it is later discarded) is a large overhead; ideally, we use custom structs for each token that have the appropriate attributes.

The parser will either have to (1) convert these tokens to `PyObject*`s at the end of parsing (2) wrap them in some kind of capsule? (3) write a C port of the builder too that uses the

[2013-08-19 09:08] earwig opened #42 "Speed up parsing by storing intermediate tokens"
There are certain situations where we rapidly construct and destroy and then have to reconstruct the same token stack when hitting bad routes. These are rare, but act as a major slowdown when they do occur, potentially hitting the parse cycle limit. Ideally, when failing a route, we store the tokenization of complete nodes in some kind of cache which associates them with the starting/ending head l

[2013-08-20 02:35] #11 closed, assigned to earwig

[2013-08-24 05:32] #39 closed, assigned to earwig

[2013-08-28 00:08] econandrew opened #43 "Ignores outer nested template in presence of http://"
This simple example (based on an actual page I was troubleshooting) fails:

[code]

filter_templates() produces:

[code]

For a very similar example (lacking only the 'http://'):

[code]

filter_templates() correctly produces

[code]

[2013-08-29 04:19] #43 closed, assigned to earwig

[2013-08-29 14:09] owenh000 opened #44 "setup.py AttributeError with python-3.2"
With Debian wheezy amd64 and Python 3.2, I receive an AttributeError when attempting to install. Or, is Python 3.2 not supported?

[code]

[2013-08-29 18:10] #44 closed, assigned to earwig

[2013-09-02 05:24] cariaso opened #45 "setup.py AttributeError with python-2.6.8"
Similar to issue #44 it seems that 37003d2 changes line 13 of compat.py

causing

python setup.py install
Traceback (most recent call last):
  File "setup.py", line 26, in <module>
    from mwparserfromhell import **version**
  File "/home/ec2-user/codetree/master/rrb/snpedia/bots/mwparserfromhell/mwparserfromhell/**init**.py", line 37, in <module>
    from . import (compat, definitions, nodes, pa

[2013-09-02 23:47] #45 closed, assigned to earwig

[2013-09-05 19:24] Rua opened #46 "List tags should include the item text in their contents"
When parsing ordered or unordered lists, the actual text in the list item is returned as a string of separate nodes of various following the "Tag" node, all belonging to the same parent. For example:

[code]

filter(recursive=False) will now give these node types (unicode equivalent in brackets): Tag (#), Text ( this ), Template ({{is}}), Text (\n), Tag (#), Text ( a ), Wikilink ([[test]]), Text (

[2013-09-09 20:56] Rua opened #47 "Make pattern matches on filter functions more useful"
I've found it a real problem that the matches= parameter only does a regular expression match on the whole wikitext. It is rather limited, but I don't know if proper node selection like XPath or CSS selectors is feasible.

So instead I propose using a custom filter function. The matches= would accept a function that takes the Wikicode object, and returns true if it's to be included in the returned

[2013-09-14 22:16] #47 closed, assigned to earwig

[2013-09-20 01:56] legoktm opened #48 ".maches() should take a tuple to check against multiple strings"
Similar to `str.startswith`, the `.matches()` function should also accept a tuple of strings and/or Wikicode objects to check against. If one of them matches, it would return True.

The use case for this is checking against template redirects.

[2013-09-21 18:48] #48 closed, assigned to earwig

[2013-10-11 06:48] jschachter opened #49 "Doesn't recognize tables"
In EG http://en.wikipedia.org/wiki/ELCA_Youth_Gathering it ignores the {| |} markup.

[2013-10-11 11:01] #49 closed, assigned to nobody

[2013-10-15 05:16] qwrrty opened #50 "Templates need to distinguish between unnamed params and named param '1'"
The method of addressing the first unnamed parameter with `template.get(1)` leads to an ambiguity when trying to parse a template that includes a named parameter "1", e.g.:

[code]

This becomes an actual problem in practice when trying to parse WikiProjectBannerShell templates, which include both unnamed params and a mandatory parameter named '1'.

Great work on the parser, by the way. Legoktm pu

[2013-10-15 05:48] #50 closed, assigned to earwig

[2013-10-15 21:17] qwrrty opened #51 "Template problems with empty parameters"
This one is a real issue, I promise. Occasionally you run across a template with an empty final unnamed parameter, e.g.

[code]

The Template node handles empty params oddly:

[code]

You can work around this by explicitly removing the empty param:

[code]

Similar things happen with named params with empty values, e.g. `{{foo|baz=}}`. This seems to me like a bug. If it is, I can certainly take a

[2013-10-15 22:23] #51 closed, assigned to earwig

[2013-10-27 20:25] earwig opened #52 "get_sections() should handle headings nested inside other nodes"
Another avenue to address part 4 of #40.

Not sure how to solve this, though.

Might be impossible.

[2013-11-11 21:53] nettrom opened #53 "Templates not found when unclosed HMTL elements present?"
Parsing and filtering templates on this revision leads to none found: https://en.wikipedia.org/w/index.php?title=User:Today%27s_Xtra&oldid=581237766

If I edit the source so all the font elements have matching close tags, the templates are found correctly.

Given the mix of HTML and wikitext, I'm not sure whether this actually _should_ find any templates.  In that case perhaps still interesting as

[2013-11-12 00:08] #53 closed, assigned to nobody

[2013-11-18 21:02] Betacommand opened #54 "parse() crashes python"
text = page.get()
  wikicode = mwparserfromhell.parse(text)
  references = wikicodefilter_templates()

I get a popup message at the parse() line stating that python has stopped working.
Python: 2.7.3 (default, Apr 10 2012, 23:31:26) [MSC v.1500 32 bit (Intel)]

I just did a pip uninstall and reinstalled with the most current version and it now is non-functioning

[2013-12-15 22:04] Rua opened #55 "Heading node should "eat" the following whitespace and newline"
When headings are parsed, as far as I know, the wiki software requires that nothing except whitespace be on the line following the heading. So

[code]

Will be parsed as a heading by the wiki, but

[code]

is interpreted as raw text.

mwparserfromhell will emit a separate text node containing the following newline and any preceding spaces. But it's possible to remove this node, which then results

[2014-01-09 16:06] nettrom opened #58 "Not all templates extracted from page"
Page in question: https://en.wikipedia.org/w/index.php?title=User_talk:WWGB&direction=prev&oldid=589882119

I noticed filter_templates() doesn't list anything beyond the Vietnamese name templates.  Just did a 'git pull' and install to make sure I was on the latest version, but problem remains.  Is this also related to bug #42, which I encountered a few months ago?

[2014-01-12 19:31] #54 closed, assigned to earwig

[2014-01-13 00:17] #58 closed, assigned to nobody

[2014-01-17 20:10] hblanks opened #59 "Template parsing fails when HTML comment is present in first line of template"
Thank you for your work on the mwparserfromhell! It's been great to use a MediaWiki parser for Python that "just works" and that has minimal dependencies.

I've noticed that templates with an HTML comment in the first line fail to parse. A brief example, from Ella Fitzgerald's page, is:

[code]

I've provided a longer example, with test cases, below. Please let me know if there's anything I can do

[2014-03-09 11:01] jfolz opened #61 "External links closed too early"
After upgrading to 0.3.2 with external link support, once every few hundred pages I come across something like this:

[code]

E.g. on this page: https://de.wikipedia.org/wiki/Siegesallee

The parse result:

[code]

Honestly, I'm not sure what to make of this. To my eye it just looks plain wrong and I couldn't find any evidence that this is actually allowed. However Wikipedia seems fine with it and

[2014-03-09 11:13] jfolz opened #62 "Only inner link recognized in nested links"
In 0.3.2, presented with nested links like this:

[code]

only the inner link is recognized:

[code]

This syntax is used in picture links, where it adds links to the caption.
There are several examples of this here: https://de.wikipedia.org/wiki/Paris

In 0.1 (and 0.2 I believe), the result was that the outer link was recognized, but not the inner link.

[2014-03-09 20:06] #61 closed, assigned to earwig

[2014-03-09 20:06] #62 closed, assigned to earwig

[2014-03-18 12:15] spointy opened #63 "get_sections is really slow on large pages (patch)"
A quick benchmark: running it once on the page 'United States' on en.wikipedia:

[code]

With the included patch, a four (!) orders of magnitude improvement:

[code]

Tests pass fine for me. Besides a few new private methods on Wikicode, there shouldn't be any user-visible changes.

Patch

[code]

[2014-03-20 05:00] #63 closed, assigned to earwig

[2014-03-24 07:55] marciof opened #65 "Parsing fails with `BadRoute` exception"
For these 3 Wikipedia articles: https://gist.github.com/marciof/a456f9c2df404db8b1f8

[code]

[2014-04-06 00:29] Rua opened #66 "Parser not correctly splitting sections on certain pages"
To reproduce:
- Retrieve the wikitext from https://en.wiktionary.org/w/index.php?title=á&oldid=25803937
- Run the following code on it, where "text" is the retrieved text:

[code]

I've used pywikipedia to output the text but use anything that works. The @ signs allow you to see at what point the parser has split the page into sections.

For some reason, on this particular page, it groups the ==Ol

[2014-04-06 09:22] #66 closed, assigned to nobody

[2014-04-16 20:40] jvanasco opened #67 "strip_code should ideally handle the more standard templates, like sortname"
This has been a pain :

   http://en.wikipedia.org/wiki/Template:Sortname

mwparserfromhell will optimize away the data, because it's in the sortable 'template' or 'macro'.  (whatever you want to call it)

It would be great if the more standard MW templates like this don't strip out their text display.

would also be nice:
- http://en.wikipedia.org/wiki/Template:Sort
- http://en.wikipedia.org/wiki

[2014-04-22 15:57] thany opened #68 "Distribute C tokenizer binaries for Windows with releases"
Trying to install mwparserfromhell via pip. I'm sure python is properly installed, and both pip.exe and python.exe are accessible from anywhere (they're in the PATH var).

The last error I'm getting at the console is

[code]

After executing just this:

[code]

The doc doesn't say anything about any prerequisites, so I should assume none are needed. So maybe this vcvarsall.bat was forgotten to be

[2014-04-22 19:46] rmacqueen opened #69 "Parsing fails to handle nested links"
In wiki markup, images are treated as links which have `File:` as the prefix for the link. the title of the image link is it's caption, which can in turn contain a link. So you get nested links, and this is not correctly handled. mwparserfromhell will only catch the innermost link and treat the outer one as plain text:

[code]

Note that if you remove `[[Abu Simbel]]`, it will catch the outer 'Fil

[2014-04-22 20:23] #69 closed, assigned to earwig

[2014-05-01 16:34] xZise opened #70 "Set the recursive filter only for specific types?"
I have basically the same problem of #22 but simply setting `recursive` to true won't cut it. I have nested templates but only wanted to go into the first level so I deactivated `recursive` which seems to be the default back then.

But there is another template which is in a `<noinclude>` tag, so I guess your parser is treating that as a node and doesn't recursively go into that tag. Now can you a

[2014-05-09 09:07] notconfusing opened #71 "Python 3.4 Recursion Depth Error"
I am using mediawiki utilities xml dump parser (python3 only). https://pypi.python.org/pypi/mediawiki-utilities/0.2.1

When I try to parse any pages, am getting

[code]
[code]

[2014-05-13 10:00] taniki opened #72 ""Unused command line argument" error with last XCode compiler"
On OsX 10.9. with XCode 5.1 a simple `$ pip install mwparserfromhell` give me the following error:

[code]

I had to use this command line to make it work:

[code]

[2014-05-13 20:59] #72 closed, assigned to earwig

[2014-05-21 19:16] Rua opened #73 "mwparserfromhell.parse does not accept skip_style_tags argument"
This argument was added to the Parser class, but it's not present on the mwparserfromhell.parse function. It should probably also be allowed there, for consistency's sake if nothing else because both Parser's parse method and this function take the same arguments otherwise.

[2014-05-23 01:53] #73 closed, assigned to earwig

[2014-05-23 08:45] marciof opened #74 "Tree processing functions fail for certain kinds of invalid HTML"
Functions that process the node tree like `get_tree()` or `filter()` fail with an `AttributeError`:

[code]

Found this while parsing the English Wikipedia template named "Patrollink".

[2014-05-24 16:56] theopolisme opened #76 "[joke] Reprimand Legoktm"
Reprimand @legoktm for extreme StarSpam™.

![screen shot 2014-05-24 at 11 52 55 am](https://cloud.githubusercontent.com/assets/1410202/3075099/03ee1670-e364-11e3-8341-6f60500be335.png)

![im not even mad](http://i.lvme.me/l2fdwg1.jpg)

[2014-05-25 01:13] #74 closed, assigned to earwig

[2014-05-25 19:58] #76 closed, assigned to nobody

[2014-05-25 20:05] #67 closed, assigned to earwig

[2014-05-26 02:27] #70 closed, assigned to earwig

[2014-06-27 22:08] valhallasw opened #78 "test_text4_unicode2 fails on win32 3.3 and 3.4"
Traceback:

[code]

[2014-06-28 00:05] #68 closed, assigned to earwig

[2014-07-11 00:18] #59 closed, assigned to earwig

[2014-07-28 21:45] djstrong opened #82 "filter_wikilinks does not work for links with added suffixes"
For wikicode `[[link]]s` filter_wikilinks returns `[[link]]` - it should `[[link]]s` or `[[link|links]]`.

[2014-09-06 23:23] danvk opened #84 "Re-serializing and parsing results in new templates being found"
I'm having trouble parsing [this article](https://en.wikipedia.org/wiki/2014_US_Open_%E2%80%93_Men%27s_Singles), whose wikitext I've placed in [this gist](https://gist.github.com/danvk/87e6d009a4adbf00a947).

I'm running into a situation where mwparserfromhell misses most of the templates on the initial parse, but then is able to find them if I re-parse the individual sections.

Here's what I'm se

[2014-09-07 07:42] #84 closed, assigned to nobody

[2014-10-17 02:04] aidanhs opened #85 "Vertical bar in template params splits up value"
Consider

[code]

Python session:

[code]

Note that MWPFH splits up the value of the party param, whereas [Wikipedia](http://en.wikipedia.org/wiki/Acton_%28UK_Parliament_constituency%29#Elections_in_the_1940s) renders it as being a single value.

[2014-10-17 02:22] #85 closed, assigned to earwig

[2014-10-24 06:00] 5j9 opened #86 "Parser does not detect templates containing HTML comment tag"
In the following scenario:

[code]

Shouldn't the infobox be rendered as a template and not text?
(I'm using Python 3.4.1 on a Windows machine.)

[2014-10-24 06:11] #86 closed, assigned to nobody

[2014-11-30 09:17] ikuyamada opened #87 "Text extraction from File: wikilinks has an issue"
mwparserfromhell seemingly has an issue to extract text from "File:" wikilinks with additional attributes.

[code]

I think the desired output is not "thumb|Label text" but "Label text".

[2014-12-12 10:26] 5j9 opened #88 "Text is not parsed as expected"
Shouldn't parsing the following code generate some tags and templates?

[code]

Specifically I was expecting `['{{pp-template|small=yes}}']` from `p.filter_templates()`.
(I'm using Python 3.4.2 on win32)

[2014-12-12 16:07] #88 closed, assigned to nobody

[2014-12-24 09:12] lahwaacz opened #89 "Inconsistency in template.get(1)"
Hi, I'm experimenting with _mwparserfromhell_ in my small [wiki-scripts](https://github.com/lahwaacz/wiki-scripts) project, and so far it works (almost) perfectly. I have just noticed an inconsistency in parsing the second template in the following snippet, which is taken from [ASUS Eee PC T101MT](https://wiki.archlinux.org/index.php/ASUS_Eee_PC_T101MT) page on ArchWiki.

[code]

The execution res

[2014-12-24 19:40] #89 closed, assigned to earwig

[2015-01-10 17:45] lmorillas opened #93 "Doc about parsing wiki tables"
Docs say that new release can parse wiki tables, but it's not documented. How can I parse a wiki table? Is there an special filter?

[2015-01-11 04:34] earwig commented on #93
There's no special filter (right now) – tables are just parsed as a special kind of HTML tag, so you can use `filter_tags`. For example:

[code]

It's a little clunky if you actually want to manipulate the tables... I'm not sure what proper methods would even _look_ like. At any rate, I'm leaving this open as a reminder to document how these less-obvious features work.

[2015-01-12 07:03] notconfusing commented on #71
@earwig I haven't produced anything new on this, so if you think it's "aged" out, then feel free to close it.

[2015-01-12 07:32] earwig commented on #71
@notconfusing No, I haven't tried Stackless Python, but my understanding was that it's solving a different issue – microthreading, rather than having an infinitely long call stack? Either way, it doesn't seem like a proper solution (since the parser shouldn't be recursing that deeply in the first place...) but I am a little curious. Will look into it more.

[2015-01-12 07:32] #71 closed

[2015-01-13 11:20] valhallasw opened #95 "Automatically build Windows Wheels"
We can probably auto-build wheels on release using http://www.appveyor.com/ ; I'll fiddle around with it sometime soon(tm).

[2015-01-13 19:52] earwig commented on #95
Excellent – this is exactly what we needed.

[2015-01-14 06:10] earwig commented on #87
Hm... that's a bit clunky, but I suppose it's better than having a dictionary or some other alternative I can't think of right now.

[2015-01-15 01:21] ricordisamoa commented on #87
Many arguments for file links can also have localized forms...

[2015-01-15 04:12] jayvdb opened #96 "pywikibot pure python template param parser differences"
pywikibot has a pure python template param extractor using regex, which behaves slightly different in corner cases to mwpfh.

pywikibot's mwpfh code is simply using "parsed_wikitext_obj.filter_templates(recursive=True)":
https://github.com/wikimedia/pywikibot-core/blob/master/pywikibot/textlib.py#L1013

and the lovely regex solution is directly below that in the same file - lines 1021-1183.

Tests

[2015-01-15 05:13] ricordisamoa commented on #96
mwpfh causes almost no loss of data, while pywikibot's regex-based solution does:
* whitespace is stripped, while it could be meaningful to Scribunto modules;
* duplicate arguments (useful, e.g., for https://gerrit.wikimedia.org/r/184543/) cannot be supported due to the use of OrderedDict;
* the parser is unreliable for nested templates, as opposed to mwpfh's robust Wikicode class;
* it even [lost

[2015-01-15 06:02] earwig commented on #96
I don't think the additional complexity of a `strip_whitespace` flag or whatever is worth it... this would just make things more confusing. In general, you should be fine using `.strip()`. We already have a `.matches()` method on `Wikicode` objects in the case of titles, where whitespace would matter.

[2015-01-15 06:02] jayvdb commented on #96
The other major difference is that mwpfh orders inner template invocations after the template they were used in.  The mwpfh approach complicates processing templates in order, as all dependencies have not been 'seen' before each template is processed.

i.e.

self.assertEqual(func('{{a|b={{c}}}}'), [('a', OrderedDict((('b', '{{c}}'), ))), ('c', OrderedDict())])
vs
self.assertEqual(func('{{a|b={{c}}

[2015-01-15 06:04] earwig commented on #96
TBH, I don't see the advantage of one order over the other. Can you give an example?

[2015-01-16 09:56] valhallasw commented on #95
https://code.google.com/p/tulip/source/browse/release.py can help to further automate the build process (via http://thread.gmane.org/gmane.comp.python.devel/150912/focus=150957 )

[2015-01-17 22:47] valhallasw commented on #95
This was surprisingly easy, thank to https://packaging.python.org/en/latest/appveyor.html . It basically works out-of-the-box... except for the part where tests fail. But at least building and packaging worked for 2.7: https://ci.appveyor.com/project/valhallasw/mwparserfromhell/build/1.0.14/job/u42le32cf1yers7t/artifacts

[2015-01-18 03:17] earwig commented on #95
It looks like some of the tests are giving MemoryErrors; never seen that before. Supposedly the build VMs have 1.75 GB free, so I'm not sure why that would happen...

[2015-01-19 12:04] valhallasw commented on #95
I'm a step further with the 3.x builds; they don't crash on reading the file with the wrong charset, but now they fail on non-BMP characters. I don't get why, though, as 3.3+ is supposed to have variable-width strings, and reading in the characters from a file works without issues.

As for the MemoryError, it seems that the SmartList is actually growing until the memory is full, because just after

[2015-02-07 20:01] lahwaacz opened #97 "segfault when parsing is interrupted"
I'm developing a script that parses many wiki pages serially. When the script is interrupted with `KeyboardInterrupt`, it segfaults, which I think is the parser's fault. The script in question is https://github.com/lahwaacz/wiki-scripts/blob/master/update-package-templates.py

The interesting thing is that I can't reproduce the segfault with Python built with `--with-pydebug` flag -- in this case

[2015-02-07 21:13] earwig commented on #97
Hm, this is really tricky. I can't reproduce it by KeyboardInterrupt-ing the parser myself, but I don't doubt that it's happening to you. Maybe an OS-specific thing, since I'm on OS X? Based on the core dump, it looks like the interpreter might have deleted a Python function while the parser was about to use it, or something like that. Perhaps a result of interpreter cleanup code running before it

[2015-02-07 21:57] lahwaacz commented on #97
- Yes, the whole stuff runs in a [try-except](https://github.com/lahwaacz/wiki-scripts/blob/master/update-package-templates.py#L286) block to catch KeyboardInterrupt. But the segfault happens even without any exception catching.
- The result varies depending on when the script is interrupted -- I can either get `KeyboardInterrupt` exception as expected, or the segfault, or `mwparserfromhell.parser

[2015-03-09 17:54] WydD opened #98 "Parser badly handles triple quotes"
Reproduce:
* use the source from http://bulbapedia.bulbagarden.net/wiki/Audino_%28Pok%C3%A9mon%29
* During the `{{learnlist}}` block everything crumbles
* Templates and links are not extracted the way they should be.

It seems that the triple quotes are badly handled because if I do a straight replace from triple quotes to none, everything works fine. The learnlist block has tons of triple quote a

[2015-03-09 21:32] earwig commented on #98
Thanks for the report. This is the same as #40, specifically the first issue there. I'm not sure if it's something I'll ever be able to solve within the current parsing framework. At any rate, you can pass `skip_style_tags=True` to `mwparserfromhell.parse()` to get around it. This causes the parser to treat triple (and double) quotes as normal text.

[2015-03-09 21:32] #98 closed

[2015-03-22 22:55] qwrrty opened #99 "HTML comments prevent proper parsing of templates"
If a template includes an HTML comment on a line by itself, between the template name and the first parameter, the parser will silently fail to parse the template.

Example:

These are parsed properly:

    [u'{{foo\n|bar}}']

    [u'{{foo|bar}}']

    [u'{{foo|baz\n\n|bar}}']

But:

    []

This issue comes up in live text when very large templates use HTML as notes to the user, e.g. https://en.w

[2015-03-22 23:03] earwig commented on #99
Hi, and thanks for the report. This has already been fixed as #59, so you'll need to update to the parser's `develop` branch before I get around to releasing 0.4. Unfortunately I can make no guarantees as to when that will be.

[2015-03-22 23:03] #99 closed

[2015-04-26 23:52] guilherme-pg opened #100 "Support for expanding templates."
It would be nice if the application could optionally specify, say, a directory containing templates (one per file), and have `parse` expand those recursively in the wikicode as needed, in addition to [parser functions](https://www.mediawiki.org/wiki/Help:Extension:ParserFunctions) and other [magic words](https://www.mediawiki.org/wiki/Help:Magic_words#Parser_functions), before returning the final

[2015-04-27 00:02] earwig commented on #100
I don't know how I feel about this. You can do something similar yourself by iterating over the templates after `parse` has been called and using `code.replace` if the template name matches some particular string. The advantage to template expansions being available during parse time is that the parser can correctly handle the issues we see in #40, but it would also make rebuilding the original wi

[2015-04-27 00:36] guilherme-pg commented on #100
I completely agree, and in fact, that's pretty much what smc.mw [does under the hood](https://github.com/lambdafu/smc.mw/issues/8). A template directory was just the most straightforward way I found of describing the feature without dwelling too much into its implementation :)

My usecase is having better support for templates in my pet project [CitationHunt](https://github.com/guilherme-pg/citati

[2015-04-27 01:09] earwig commented on #100
Can you clarify the parser function thing - do you mean expanding parser function logic within the parser (e.g. the parser knows to convert `{{#if:test|foo|bar}}` into `foo`) or just that these are passed to the callback function in the same way as normal templates? Honestly, I think the former is beyond the scope of the parser, but the latter has limitations (it won't be able to handle things lik

[2015-04-27 01:47] guilherme-pg commented on #100
It would be great to have the former, as it would make it easy to support some very common but otherwise simple templates like [IPAc-en](https://en.wikipedia.org/w/index.php?title=Template:IPAc-en), but I'm fine with not having it if you think it would be of little value in general. I suspect that simple expansion and maybe a few heuristics for dealing with broken text (such as removing [empty par

[2015-05-23 23:41] earwig commented on #40
Most of this is going to require an overhaul of how parsing is done (I finally have an idea how I'm going to do it, but it'll be a lot of work)... so pushing this back as the main task for v1.0.

[2015-05-23 23:44] earwig commented on #65
Hopefully this should be fixed with the final solution to #40, but I'm leaving it open to verify that it is indeed fixed.

[2015-05-24 06:18] jayvdb opened #101 "Syntax error in setup.py on Python 3.5"
[code]

https://travis-ci.org/jayvdb/pywikibot-core/jobs/63826402#L361

[2015-05-24 06:18] earwig commented on #101
Python 3.5 has been released?

[2015-05-24 06:25] jayvdb commented on #101
No final release yet, but alphas (https://www.python.org/downloads/release/python-350a4/) and travis allows testing against nightly builds.

[2015-05-24 06:26] earwig commented on #101
Ah, alright. 0.4 doesn't claim to support it (check `setup.py`) but I'll add that for the 0.4.1.

[2015-05-24 06:35] jayvdb commented on #101
fwiw, this syntax added by @legoktm in cb875ae347f0b746d99159fa7edb235006145fbd

I cant see any PEP explaining why this syntax is now invalid in py3.5, but I can see why they might have killed it.  It is ambiguous.  Does the ** apply before or after the if.

The simplest fix is to use codecs.open instead of open, as codecs.open supports encoding in Python 2.

[2015-05-25 05:12] #101 closed

[2015-05-31 08:05] lahwaacz opened #102 "Fallback on invalid tags?"
mwparserfromhell fails to parse [this page](https://wiki.archlinux.org/index.php/Emacs) properly, my suspicion is that's because of the un-escaped tag-like syntax used for various keybindings, e.g. `<TAB>`, `<RET>`, `<backspace>`, `<f1>`, `<f2>` etc.
MediaWiki has some elaborate fallbacks for invalid tags so the page is rendered correctly; does mwparserfromhell try to do the same?

[2015-06-02 14:32] lahwaacz opened #103 "How to recognize space-initialized code blocks?"
So far it seems that the space-initialized blocks are parsed as plain text, or have I missed something?

[2015-06-02 14:57] lahwaacz opened #104 "Legal title characters are not checked when parsing wikilinks"
The [$wgLegalTitleChars](http://www.mediawiki.org/wiki/Manual:$wgLegalTitleChars) forbids the `<` and `>` characters by default, but mwparserfromhell allows them. Is this a bug or yet another example of site-specific configuration you don't like to see in the parser?

[2015-06-02 16:24] tobiasschweizer opened #105 "Use comments to parse mediawiki file"
Hi

I have media wiki files with the following structure:

[code]

These comments express the structure of the file. So I think the method `filter_comments` is convenient to get all the "comments" as a list:

[code]

I can get another list of all the elements of the file by accessing `nodes`.

In this list, I can now search for all the elements contained in "comments" to get the indexes of their a

[2015-06-02 16:49] ricordisamoa commented on #105
I use a similar technique in [itws.py](//github.com/ricordisamoa/wiki/blob/master/itws.py) for \<section\> tags.

[2015-06-04 23:31] earwig commented on #105
That sounds like a fine way of doing it.

The only thing I can think of is using [`wikicode.get_sections()`](https://github.com/earwig/mwparserfromhell/blob/8fb5b3a6be052332f21e2343781bb32ffbfba8dd/mwparserfromhell/wikicode.py#L468) somehow? You'd have to tweak it a lot to support your specific use case, which probably isn't worth it. `get_sections` has a lot of options, but I don't see adding sup

[2015-06-04 23:31] #105 closed

[2015-06-05 01:27] earwig commented on #104
As it stands, the only characters we explicitly _prevent_ in wikilink titles are `[]{}|` and `\n`, for hopefully obvious reasons. I hadn't considered `<>`, though.

Based on that manual page, my reading of [`Parser::replaceInternalLinks2()`](https://github.com/wikimedia/mediawiki/blob/0e1c80e6e178be646e8deb3fa64fac7e7219938b/includes/parser/Parser.php#L2010), and some testing, `<>` are the only ot

[2015-06-05 04:25] #104 closed

[2015-06-05 04:30] earwig commented on #103
You're right, that's missing functionality. Will add it for 0.5.

[2015-06-05 04:36] earwig commented on #102
I'm going to go out on a limb here and say this will be resolved by #42. Keeping this open so we can verify when that's resolved.

[2015-06-05 05:47] tobiasschweizer commented on #105
Thank you very much for your answer!

Actually I am using regex to parse the segments enclosed by comments. So I can still use your `filter_comments` to get these sections which is quite useful.

[2015-06-08 14:04] tobiasschweizer opened #106 "How to get node type, content and exact tag name?"
I want to parse some wikicode and loop over the nodes to get the type, tagname and content of each element:

[code]

This prints me a list that looks like this:

[code]

Is there a direct way to access `node` in order to get the tagname, the contents etc.?

If I understand correctly, `mwparserfromhell.parse(wikicode)` returns `wikicode`, that offers `nodes`.
And each of these alements would be a m

[2015-06-08 17:34] earwig commented on #106
Yes. I'm a little confused by your question, since you already have direct access to the nodes by iterating over them as you did.

Generally you are interested in a specific type of node, not everything in the page. For this you can use `for node in parsed_code.filter_tags():` (or `filter_templates()`, or `filter_wikilinks()`, or any method described [here](http://mwparserfromhell.readthedocs.org/

[2015-06-10 07:19] tobiasschweizer commented on #106
Thanks for your answer.

My problem is that I want to iterate sequentially over **all** the nodes irrespective of their type. I cannot make a preselection of all the tags etc. by using filter statements because I have to process all the nodes in the given sequence.

So I will have to determine the type of the current node first and to process it adequately.

[code]

[2015-06-10 07:31] ricordisamoa commented on #106
[code]

[2015-06-10 07:33] tobiasschweizer commented on #106
Man, you saved my day!

Thank you very much!

[2015-06-10 17:54] #106 closed

[2015-06-11 04:50] earwig commented on #95
Current status: in the `feature/win_builds` branch, for each version of Python supported by mwparserfromhell, we have:

- :white_check_mark: Python 2.7 x86: ~~compiler errors~~ works in a8c0ff3f290cf82da8e22cd0007d78adfed3c4b1
- :x: Python 2.7 x86_64: ~~compiler errors~~ SmartList tests fail, as noted above
- :x: Python 3.3 x86: waiting on #78
- :x: Python 3.3 x86_64: waiting on #78
- :x: Python 3

[2015-06-12 02:47] earwig commented on #78
Some weird stuff going on here with surrogate pairs, I think... probably easier for me to just fix #37 and hope that solves it than trying to figure it out.

[2015-06-29 15:51] tobiasschweizer opened #107 "Python 2: mwparserfromhell.parse() utf-8 file"
Hi,

Unfortunately I had to switch to Python 2.7 (due to other module dependencies). In Python 3, I could use mwparserfromhell's parse function without problems. Now, I run into a parsing error using mwparserfromhell version 0.4:

[code]

When I print  `parsed`, it says:

[code]

The var `wikicode` is of type `unicode`. Is there a way to make the parser work with those characters from a utf-8 enco

[2015-06-29 19:28] earwig commented on #107
It already does. The problem is that you can't _print_ these directly, which is a Python 2 quirk.

Python internal `print` code has [a special case](https://github.com/python/cpython/blob/2.7/Objects/fileobject.c#L2567-L2574) for `unicode` objects that encodes them to `sys.stdout.encoding` (`'UTF-8'` on my system). In general, though, it just [calls the object's `__str__` method](https://github.co

[2015-06-29 19:28] #107 closed

[2015-06-29 20:08] tobiasschweizer commented on #107
Thank you very much for this detailed explanation. I find this forum very helpful.

I wanted to avoid coding in Python 2, but I am afraid there is no way around it as I have to use some modules that are only available in Python 2.

[2015-07-04 13:50] ysangkok opened #108 "UnicodeEncodeError in string_mixin.py"
On parsing the English Wikipedia page "Eastern Bloc", revision (oldid) 669389172.

[code]

[2015-07-04 18:40] ricordisamoa commented on #108
Seems like the same problem as #107, i.e. py2's fault, not mwparserfromhell's.

[2015-07-04 18:46] earwig commented on #108
Yeah, looks to be the same. Just avoid printing the parsed contents directly – do `print(unicode(parsed))` and it should be fine.

Since this is coming up, I might add a note to the documentation.

[2015-07-04 18:46] #108 closed

[2015-07-16 06:40] benwing opened #109 "bugs in handling trailing spaces in numbered params"
This is using on branch 'develop' as of early July 16. Trailing spaces in numbered params are not stripped by MediaWiki; therefore, `preserve_spacing` should not operate, but it does.

    u'{{foo|bar |sc=Cyrl}}'

    u'bar '

    u'bar '

    u'{{foo|bar |sc=Cyrl}}'

    u'bar '

Even worse, `remove()` appears to sometimes not simply remove the field, but leaves the spaces, and there's no `preser

[2015-07-18 19:10] lahwaacz opened #110 "Parsing of behavior switches"
The [behavior switches](https://www.mediawiki.org/wiki/Help:Magic_words#Behavior_switches) are currently parsed as plain text. It would be nice to parse them as a special node.

[2015-07-18 20:06] lahwaacz opened #111 "Templates with empty name"
On [this page](https://wiki.archlinux.org/index.php?title=Font_Configuration_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)&oldid=382922#.E9.AB.98.E7.BA.A7LCD.E8.BF.87.E6.BB.A4.E5.99.A8.E8.AF.B4.E6.98.8E) there has been a typo:

    {{|icLCD过滤器}}

MediaWiki renders this as plain text, but mwparserfromhell parsed it as a template with empty string as the template name.

[2015-07-19 03:54] earwig commented on #110
You're right, this is a missing node type. I'm not sure if we should have a whitelist of valid switches or just accept anything of the form `__ALLCAPS__` – I know extensions can define their own but I worry that there might be false positives. Will have to look into that.

Either way, this is included as part of issue #10 for v0.5.

[2015-07-19 03:54] #110 closed

[2015-07-19 04:00] earwig commented on #109
That is... odd. I will have a look.

[2015-07-19 06:22] lahwaacz commented on #110
Didn't notice the old issue, sorry for the duplicate.

Anyway, in the client code it is easier to filter out false positives than to parse the switches manually. Also client code usually targets just one (or a couple of) specific wiki(s), so the list of valid switches can be handled there. If that's emphasized in the docs, I see no problem with that.

[2015-07-23 03:40] earwig commented on #109
[I didn't realize this](https://en.wikipedia.org/wiki/User:The_Earwig/Sandbox#template_whitespace_stripping), thanks for telling me! Why is this even true? Fixed in 4c25400. This solves the first issue. Still looking at the second one.

[2015-07-23 07:13] earwig commented on #109
Okay – in the second case, my logic was completely wrong. I was treating a blank parameter the same way as an unspecified parameter. Fixed in 699d063.

[2015-07-23 07:13] #109 closed

[2015-07-24 00:55] jayvdb opened #112 "Travis nightly (3.6) fails in coverage 3.7.1"
.travis.yml installs `coveralls`, which has a requirement coverage<3.999,>=3.6 , and it installs coverage 3.7.1.

The Travis target 'nightly' has switched to being Python 3.6, and coverage 3.7.1 fails on Python 3.6

[code]

[2015-07-24 00:56] earwig commented on #112
Python 3.6? What the hell?

[2015-07-24 02:08] earwig commented on #112
@jayvdb I assume this is fixed by #113? I suppose 3.6 is still broken when running coveralls but mwparser has no reason to support 3.6 yet.

[2015-07-24 02:11] jayvdb commented on #112
The immediate problem is fixed by #113 , but we should also report upstream the 3.6 problem in coveralls/coverage before closing this issue.

[2015-07-24 03:33] earwig commented on #112
coverage.py seems to have moved on to version 4.0, which does not (as I can tell) use the problematic `inspect.getargspec`. coveralls claims to be in the process of adding support for it (coagulant/coveralls-python#47)? `pip install coveralls` still pulls 0.5, presumably because 1.0a2 from https://pypi.python.org/pypi/coveralls (which _should_ be using the newer version of coverage that _should_ b

[2015-07-24 03:33] #112 closed

[2015-07-24 06:32] earwig commented on #111
Fixed in f16c7e2.

[2015-07-24 06:32] #111 closed

[2015-07-27 09:01] benwing commented on #109
Thanks for fixing this!

[2015-07-28 08:28] #37 closed

[2015-07-28 10:46] xZise commented on #96
Regarding stripping it would be nice if it would follow the MediaWiki implementation. So that when you get `{{tmpl| hello |2= world }}` that it would only strip whitespaces around `world` and not `hello`.

[2015-07-28 17:10] earwig commented on #78
Fixed in 1357da119d37eb893b5de44bfa5ff79ea464cb69 and others.

[2015-07-28 17:10] #78 closed

[2015-07-28 22:55] jayvdb commented on #96
I agree. It would be good to have a mode that performs stripping per the MW
engine. This mode could also strip comments, noinclude, etc so the caller
'sees' roughly what the MW template processor sees.

On Tue, 28 Jul 2015 20:46 Fabian Neundorf <notifications@github.com> wrote:

[2015-07-28 23:56] earwig commented on #96
The idea of parsing modes is something I am considering for v0.5/1.0. It seems like the best solution to this issue and related ones like #100.

[2015-07-30 06:24] #95 closed

[2015-08-04 17:51] alakzi opened #115 "(i)filter_templates chokes on templates containing HTML markup"
I thought I'd replace some of my ol' trusty (and nasty) regexes and stumbled on this bug when attempting to parse [*The Only Way Is Essex* (series 11)](https://en.wikipedia.org/wiki/The_Only_Way_Is_Essex_(series_11)).

[code]

[2015-08-04 18:12] earwig commented on #115
Right here:

`<br />'' Series 11</span>`

The open-italics tag is not closed where it should be, so the parser gets confused and thinks it extends to the beginning of `''[[The Only Way Is Essex]]''`, breaking the template.

Until #40 gets addressed, you can fix this by doing `mwparserfromhell.parse(text, skip_style_tags=True)` instead.

[2015-08-04 18:12] #115 closed

[2015-08-04 18:13] alakzi commented on #115
Cheers.

[2015-09-18 23:51] symac opened #119 "Template not found?"
Trying to parse pages from English wikipedia, I sometime find that some templates are not found. For example, the following script won't extract the Infobox person template which is present. Is this a known issue or am I missing something?

[code]

[2015-09-19 01:29] earwig commented on #119
Looks like a symptom of #40. The temporary fix is this:

[code]

[2015-09-19 01:29] #119 closed

[2015-09-19 09:35] symac commented on #119
Thanks @earwig sorry I hadn't found the existing bug. It fixes things yes.

[2015-09-21 21:02] lahwaacz opened #120 "wikilink -> external_link fallback"
MediaWiki parser has a fallback for wikilinks that contain valid URL, e.g. `[[http://example.com foo bar]]` is parsed as an external link enclosed in textual brackets. The same fallback should be used also in mwparserfromhell.

[2015-09-22 03:00] earwig commented on #120
I didn't know that. Good catch.

[2015-09-22 07:13] legoktm opened #121 "Investigate automatically comparing mwph to parsoid output"
We should investigate building a tool or test suite of some kind that compares the parsed mwph tree to Parsoid's DOM output. We would map nodes to the [Parsoid dom spec](https://www.mediawiki.org/wiki/Parsoid/MediaWiki_DOM_spec)

I imagine something like this with a large dump like en.wp could have caught #120.

[2015-09-22 19:04] #120 closed

[2015-09-22 19:31] lahwaacz commented on #97
Some updates since the last time:

After the C tokenizer refactoring the segfault happens in the `call_def_func` function, now at `mwparserfromhell/parser/ctokenizer/tok_parse.c:96`. After reading [this introduction](https://docs.python.org/3/c-api/intro.html), I've come to the conclusion that there is missing exception handling. In fact, I don't see any exception handling anywhere in the C tokeni

[2015-09-22 19:43] earwig commented on #97
Thanks for the update. This is very helpful.

`call_def_func` is an awful hack that I should absolutely port to C – it was the easiest way to solve the initial problem when I was coding it, but it definitely needs work now. I'll prioritize fixing that.

We _do_ have a lot of "exception handling" code in the sense of checking for `NULL` values from Python's internal API functions. The parser also s

[2015-09-23 03:29] #97 closed

[2015-09-23 06:10] lahwaacz commented on #97
Thanks for the prompt fix!

[2015-09-27 01:17] clokep opened #122 "Table parsing fails if unclosed tag finds a match in a different row"
Using mwparserfromhell 0.4.2 I've had some issue with unclosed tags 'eating' other rows. If you have some wiktext with a tag (e.g. ``''Italic''``) in two different rows, but in the first instance you forget to close it, mwparserfromhell combines the rows together into a single tag.

Some (annotated) wikitext that shows this:
[code]

This gets parsed into only 2 rows, instead of the expected 3

A r

[2015-09-27 01:27] earwig commented on #122
Yep... this is a very common issue, identified as #40. The temporary fix is to pass `skip_style_tags=True` to `mwparserfromhell.parse()` to disable `''` and `'''` entirely. This wouldn't fix the issue with `<small>`, though.

Unless someone comes up with a revolutionary way of storing overlapping nodes in the same tree structure, the eventual fix will be explicitly telling mwparserfromhell what yo

[2015-09-27 01:27] #122 closed

[2015-09-27 01:32] clokep commented on #122
Oops, sorry for filing the duplicate! Thanks for the trick with `skip_style_tags`, that fixed my issue.

My fix for the `<small>` issue is to use a :hammer: on it: `text = re.sub(r'</?small>', '', text)`

[2015-09-29 16:57] halfak opened #123 "Proposal: Drop "from hell" from the name"
This library is pretty great and it seems like "mwparser" would be an appropriate name.  It would make sense next to other libraries that implement the "mw<what it does>" naming scheme.  E.g. [mwapi](https://github.com/mediawiki-utilities/python-mwapi).

Advantages:

1. It's a better name.
2. Shorter name is easier to type and would reduce the need for aliasing on import (e.g. `import mwparserfrom

[2015-09-29 17:03] ricordisamoa commented on #123
1. Easily mistakable with the original MediaWiki parser
2. Loss of "halo of mystery"

[2015-09-29 17:04] justinkim commented on #123
FWIW, `mwparser` seems to already be taken on pypi: https://pypi.python.org/pypi/mwparser/?

[2015-09-29 17:14] halfak commented on #123
Good point.  I just emailed @paulproteus to see if he would be willing to give up the name on pypi.

[2015-09-29 17:20] lahwaacz commented on #123
Names need to be unique. Combining generic terms such as `mw` + `parser` does not make much sense unless they are unique inside a (unique) namespace smaller than "world". How many "mwapi" clients are there already? It's better with parsers, but still...

[2015-09-29 17:22] halfak commented on #123
I just got a positive response from @paulproteus.  He's ready to let us have the name if we want it.

It seems that this parser is *the* dominant parser for MediaWiki stuff.  There's only one "mwapi" package because names get enforced.  There's also only one "mwoauth" and "mwxml".

[2015-09-29 17:24] paulproteus commented on #123
I am super excited to see y'all's widely-used package stop calling itself "fromhell" and also super excited to hand over the `mwparser` name!

[2015-09-29 18:09] lahwaacz commented on #123
There is nothing unique about "mwapi", see https://www.mediawiki.org/wiki/API:Client_code. Or perhaps I should have said "distinguishable" instead of unique in my previous post...

It also seems that there is a "libmwparser" project, which most likely drops the "lib" prefix in its API and build process. https://www.mediawiki.org/wiki/Alternative_parsers

[2015-09-29 18:25] halfak commented on #123
Indeed.  But I don't think that argument suggests "mwparserfromhell" is a more appropriate name or that it somehow helps you differentiate it from "libmwparser" (which is clearly defunct).

If I go through the list of API libraries, I don't see a library that is meant to support *only* API use with a more specific name.

* Pywikibot (Much more than API)
* mwclient (Less specific than mwapi -- clie

[2015-09-29 18:41] earwig commented on #123
First off, thanks to @paulproteus for agreeing to let us use the name.

I think "from hell" is worth defending. It's inherently a little jokey, and emphasizes something important: mwpfh has to do a _lot_ of wonky things that a proper MediaWiki parser doesn't, like making guesses about the syntactic contents of templates. MediaWiki is an _awful_ language to work in this kind of offline, isolated sc

[2015-09-29 18:51] halfak commented on #123
All good points.

Just to clarify, I did not propose the change for any reason other than I though the package deserved a simple, good name.  I take no offense to the current name or use of "hell".

Prefixing "py" on the front of python packages is uncommon, but it seems to be common to prefix the project name on github with "python-" e.g. https://github.com/mediawiki-utilities/python-mwoauth.

I

[2015-09-30 00:13] earwig commented on #123
I'm always glad to hear that people find this project useful.

I think I will close this issue for now. Maybe I will reconsider a name change when we reach version 1.0 and things are more stable. :smiley:

[2015-09-30 00:13] #123 closed

[2015-09-30 00:22] halfak commented on #123
Make sense.  Thanks for your consideration.

[2015-09-30 00:22] Riamse commented on #123
Shoutout to @halfak  for mentioning ceterach.

[2015-10-02 14:21] lahwaacz opened #124 "Segfault in Python 3.5"
I'm getting this segfault in Python 3.5.0 when parsing [this page](https://wiki.archlinux.org/index.php?title=Font_configuration_(%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9)/%D0%A3%D1%81%D1%82%D0%B0%D1%80%D0%B5%D0%B2%D1%88%D0%B0%D1%8F&oldid=402707):
[code]
Something is wrong with this code:
[code]

[2015-10-02 14:26] lahwaacz opened #125 "UnicodeDecodeError in Python 3.5"
I'm getting this exception in Python 3.5 when parsing [this page](https://wiki.archlinux.org/index.php?title=AMule_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)&oldid=401407):
[code]
How can I help debugging this? It's the C tokenizer again and I have no idea where to start...

[2015-10-02 17:31] earwig commented on #125
Confirming this is Python 3 + ctokenizer-specific. Works on Python 2 or using the pytokenizer.

[2015-10-03 08:36] lahwaacz commented on #124
Code from `Tokenizer_parse_heading` function in `tok_parse.c`:
[code]
And the output when parsing the problematic page:
[code]
So in this case `Tokenizer_parse` returns NULL without setting BAD_ROUTE...

[2015-10-03 09:23] lahwaacz commented on #124
The heading on which this happens is

    ===Не люблю <Шрифт Такой> и хочу использовать вместо него <Шрифт Сякой>===

[2015-10-03 12:21] lahwaacz commented on #125
It seems that the original exception happens in the [unicode_to_lcase_ascii](https://github.com/earwig/mwparserfromhell/blob/develop/mwparserfromhell/parser/ctokenizer/definitions.c#L62) function in `definitions.c`. Any idea how to fix it?

[2015-10-03 17:34] earwig commented on #124
Oh... that might be the same thing as #125 then. Let's see after I fix #125.

[2015-10-03 17:34] earwig commented on #125
I'm working on it.

[2015-10-03 20:13] earwig commented on #125
Fixed in 23d9758. Turns out it was a regression from #97. Thanks for your help.

[2015-10-03 20:13] #125 closed

[2015-10-03 20:17] earwig commented on #124
@lahwaacz I can't test this anymore since the original page has been deleted, but it should have been fixed by #125. Can you confirm?

[2015-10-03 21:31] lahwaacz commented on #124
Indeed, thanks for fixing it.

[2015-10-03 21:31] #124 closed

[2015-10-16 03:05] jcgoble3 opened #126 "Installation error (Windows, Python 3.5)"
When attempting to install via pip on a freshly installed Python 3.5 on Windows 10, I get installation errors, where it fails when trying to compile the tokenizer. Obviously this is because it's working off of the source tarball, and I don't have a compiler. After looking at [the package's page on PyPI](https://pypi.python.org/pypi/mwparserfromhell), I only see Windows binaries for Pythons 2.7, 3.

[2015-10-16 03:39] earwig commented on #126
There were no Windows builds for Python 3.5 because [Appveyor](http://www.appveyor.com/) didn't support it when I released 0.4.2. I'll try to add that now.

You should probably give us the error message for good measure, in case it's an unknown issue. If the problem has something to do with `vcvarsall.bat`, don't bother.

[2015-10-16 03:53] earwig commented on #126
Okay, I'm ready to release 0.4.3 with Python 3.5 builds (since it doesn't make sense going through the effort of re-building/releasing an old version) when we can confirm that your issue isn't a code bug that I should fix first.

[2015-10-16 04:05] jcgoble3 commented on #126
Original error output:

[code]

Additional item of note produced when rerunning the command with the -vv (double verbose) flag:

[code]

Thanks for looking into this so quickly. :)

[2015-10-16 04:10] earwig commented on #126
May be related to http://bugs.python.org/issue21821...

[2015-10-16 04:13] earwig commented on #126
@valhallasw, any ideas?

[2015-10-16 04:26] jayvdb commented on #126
I havent looked at Python 3.5 for Windows yet, but https://github.com/ogrisel/python-appveyor-demo is updated to support Python 3.5, and this project may need to copy some of those commits (or dynamically load the files from that project like the pywikibot `.appveyor.yml` does)
Also there is some ongoing discussion at # 34 there that might be relevant.

[2015-10-16 04:38] earwig commented on #126
I added 3.5 to Appveyor just now in 21fa211bc7f8ac7e5b7d7ad95bef6a5ac23b3a7d... although now I wonder if https://github.com/ogrisel/python-appveyor-demo/commit/09a1c8672e5015a74d8f69d07add6ee803c176ec is necessary.

Lego just pointed me to http://stevedower.id.au/blog/building-for-python-3-5-part-two/. This looks a lot more frustrating than I thought it would be. ~~Why can't we just drop Windows s

[2015-10-16 04:45] jcgoble3 commented on #126
If you've built a wheel for Windows/Py3.5, email it to me (Gmail address with the same username as here) and I can attempt to install it directly and report back whether it works, or what errors it produces.

[2015-10-16 04:51] jcgoble3 commented on #126
Oh, I forgot to say that I need the 64-bit wheel since I have 64-bit Python.

[2015-10-16 09:11] valhallasw commented on #126
@earwig: as far as I understand, that blog is mostly for when you want to build a wheel that will work for other visual studio (> 2015) versions, but that's not too relevant for now.

The error @jcgoble3 has suggests there is no compiler installed (which is consistent with their original report). It's using the .tar.gz, not the .wheel.

[2015-10-16 09:15] valhallasw commented on #126
https://ci.appveyor.com/project/earwig/mwparserfromhell/history doesn't have any recent builds at all?

[2015-10-25 07:37] tbicr opened #127 "Block recognized as text but should be template"
for next wikipedia pages content `Infobox country` recognized as text but expected template:

- https://en.wikipedia.org/wiki/El_Salvador
- https://en.wikipedia.org/wiki/Ghana
- https://en.wikipedia.org/wiki/Norway

[2015-10-25 08:42] earwig commented on #127
Can't reproduce:

[code]

Are you on an old version of mwparserfromhell?

[2015-10-25 08:45] tbicr commented on #127
pypi mwparserfromhell==0.4.2, python 3.4
Python 3.4.3 (default, Mar 26 2015, 22:03:40)
[GCC 4.9.2] on linux

[2015-10-25 08:54] tbicr commented on #127
0 <class 'mwparserfromhell.nodes.template.Template'> {{about|the modern country of Ghana|the Ghana Empire ([[Circa|c.]] 790–1076) northwest of modern Ghana|Ghana Empire|other uses|}}
    1 <class 'mwparserfromhell.nodes.text.Text'>
    2 <class 'mwparserfromhell.nodes.template.Template'> {{Multiple issues|
    {{disputed|date=May 2015}}
    {{refimprove|date=May 2015}}
    }}
    3 <class 'mwparse

[2015-10-25 09:04] tbicr commented on #127
The same behaviour on github version for python 2.7 and 3.4

[2015-10-25 09:17] lahwaacz commented on #127
I'm seeing the same behaviour as @tbicr...

[2015-10-25 20:12] Rua commented on #46
I've been looking at this problem some more, and a few interesting things came up.

MediaWiki handles it well when : # and * are placed together on one line, as they all have the same terminating string (newline). But weirder things happen when you throw ; into the mix with # or *.

For example:
[code]
I would say the "correct" or at least most intuitive behaviour is to produce this HTML:
[code]

[2015-10-26 03:06] earwig commented on #127
My mistake. Couldn't reproduce originally because I wasn't giving mwpfh the whole page. This smells like #40.

[2015-10-26 03:09] earwig commented on #127
Since `skip_style_tags` bypasses the error, I'm going to assume this is #40, even though I don't see the problem within the template code (it's fairly complex so I'm probably just missing it).

So: the workaround is to pass `skip_style_tags=True` to `mwparserfromhell.parse()`.

[2015-10-26 03:09] #127 closed

[2015-10-26 21:19] timwu commented on #102
This issue appears to also affect the [.us](https://en.wikipedia.org/wiki/.us) page from wikipedia as well. After some number of `<locality>.<state>` blobs in the text, parsing appears to skip over wikilinks, identifying them as text.

For my application, it wouldn't be too bad to just skip pages where this parse issue occurs. Not quite sure what the best approach to identifying that case though.

[2015-10-26 21:22] earwig commented on #102
Unfortunately the usual solution of `skip_style_tags=True` to `mwparserfromhell.parse()` doesn't work there because they're not style tags.

I don't have a simple solution in mind right now. You _could_ muck around in the parser internals to make `skip_style_tags` skip _all_ tags, if that works for you, but it'll be a bit annoying.

[2015-10-28 19:59] Rua opened #128 "Implement Wikicode.nodes as a doubly-linked list"
In my experience, it's not very common to want random access to nodes by their index. Instead, it's more common to go through the list sequentially with one of the filter iterators, possibly skipping some along the way. Modifying the node list by insertion or deletion is doubly-slow with the current implementation: first the list has to be traversed to find the index of the insertion point, then t

[2015-10-28 23:08] jfolz commented on #128
Out of curiosity: Is this a real problem in the parsing process, i.e., are there lots of inserts or deletes? And would linked lists solve this?
Complexity theory tells you that lists are better than arrays when manipulated. However, copying bits of memory is **really** fast on modern hardware. Lists are implemented as arrays in [CPython](https://github.com/python/cpython/blob/master/Objects/listob

[2015-10-28 23:15] earwig commented on #128
Actually, @jfolz, I think you might be right. I recall that the overhead of linked lists (both in terms of memory usage and their conflicts with CPU caching, etc) often make them less-than-helpful on modern machines when compared to regular arrays. Also, even though mwpfh nodes can contain a fair bit of data overall, individual `SmartLists`s usually don't have that many elements.

Still, it might

[2015-10-28 23:40] jayvdb opened #129 "Node select & callable replace interface like re.sub"
It would be useful to have an interface similar to `re.sub` that allows matching and in-place modifications of wikitext.

pywikibot has many instances of regex's being used, and the regex's are nasty to become close to accurate, and still are not perfect.  Ideally we could combined / replace them with `mwparserfromhell`, and it would be useful if the interface was similar.

`Wikicode.replace` is a

[2015-10-29 03:10] earwig commented on #126
Sorry for the delay in responding.

@valhallasw, that's because I only have it set up to build on master pushes (i.e., releases). I'm gonna change that to build on master/develop pushes but only upload to PyPI on the former.

[2015-10-29 03:36] earwig commented on #126
Appveyor is a lot, lot faster than three months ago. I like this.

[2015-10-29 05:41] earwig commented on #126
All compiling now, although I had a bunch of failed attempts and I really don't understand why they failed...

[2015-10-29 06:24] jcgoble3 commented on #126
Thanks for emailing me the wheel link. I installed from that wheel, and all is good with no errors. Nothing of interest, I think, in the output, but I'm including it here anyway:

[code]

Looks like this can be closed. Thanks for working on this. :)

[2015-10-29 06:26] earwig commented on #126
Hooray!

[2015-10-29 06:26] #126 closed

[2015-10-29 06:45] jcgoble3 commented on #126
Looks like Appveyor's final step of uploading the wheels to PyPI failed. Apparently `%PYMOD%` isn't being recursively expanded in that step. I hate Windows cmd scripts. :P

[2015-10-29 06:45] earwig commented on #126
Yep! Had to do it manually. Is recursive expansion really not allowed?

[2015-10-29 06:47] earwig commented on #126
...It doesn't seem quite right, or else I'm not sure how the other things (like `%SETUPPY%`) could be working.

[2015-10-29 06:48] jcgoble3 commented on #126
I don't know. I gave up trying to understand cmd scripts years ago. Bash is much more intuitive. (I use both Windows and Ubuntu.)

It does seem that `%SETUPPY%` and `%PIP%` are being recursively expanded above (in appveyor.yml), so I'm guessing some kind of issue with being in the `IF` statement.

[2015-10-29 06:50] earwig commented on #126
That would make sense. Unfortunately, I can only guess at this point and I can't really test it without doing another full release. :P

[2015-10-29 06:55] jcgoble3 commented on #126
Okay, I found something that may or may not be of relevance: https://technet.microsoft.com/en-us/library/bb490954.aspx Near the bottom, it notes that if you use quotes in defining a variable value, those quotes are interpreted as a literal part of the value. As that command is the only one that doesn't stand completely by itself in appveyor.yml, I suspect that the quotes may be causing the issue,

[2015-10-29 06:59] earwig commented on #126
Hmm, how would that make a difference? YAML seems to strip the quotes when it parses the file.

[2015-10-29 07:00] jcgoble3 commented on #126
I don't know. Like I said, it might be relevant, or it might not.

[2015-10-29 07:07] jcgoble3 commented on #126
The only concrete suggestion I can make at this point is to post a question on [Stack Overflow](http://stackoverflow.com/). There has to be someone there that can solve the problem.

[2015-10-29 11:56] jfolz commented on #128
That's what I tell my students, though *they* never listen ;)
My suspicion is that it's not really spending a substantial amount of time in list at all.

[2015-10-31 16:48] Rua commented on #46
Looking at this more, I am also thinking about the best implementation. When multiple levels of lists are stacked, like
[code]
there isn't that much of an advantage in nesting these. All the content will end up in the inner node, which is not particularly practical.

So I think that the way such lists are parsed should be changed, so that the entire combination of list tags is included in one Tag

[2015-10-31 17:25] lahwaacz commented on #46
IMHO nesting the nodes is the most natural thing to do. Why exactly would you _not_ do it? If the levels are stacked like you described, traversing the AST would be much harder because the number of list types would be infinite. Also, it conflicts with [this suggestion](https://github.com/earwig/mwparserfromhell/issues/46#issuecomment-38911553) as there would not be any node containing all the lis

[2015-10-31 20:22] earwig commented on #46
Agree that we should nest nodes; the alternative seems too unexpected in most cases. Since there are plans for multiple parsing "modes" to solve various other issues, it's possible we can support both nesting and coalescing, but I'm not sure if the added complexity is worth it.

[2015-10-31 21:37] Rua opened #130 "closing_tag and closing_wiki_markup should default to None when identical to opening tag"
Currently, these two values are automatically reassigned whenever the opening tags are assigned. Assigning a value to wiki_markup will override closing_tag, and likewise for regular tags. This is bad behaviour, it leads to unexpected surprises because you think you are changing one value while you are really changing two. You also have to work yourself into a twist if you want to do processing and

[2015-10-31 21:48] Rua opened #131 "The name of parameters with showkey=False should be determined dynamically"
Let's say you have this code parsed:
[code]
If you want to insert an item in the middle of the list, all the parameters keep their old names. This means you end up with duplicate parameter names, and you have to rename all the parameters manually, which is rather tedious. It would be much more useful if the numbers updated automatically in this case.

This could be done by making the .name propert

[2015-10-31 21:51] Technical-13 commented on #130
Rua, can you please clarify what you mean when you say "closing_tag should default to none when identical to opening tag"?  I take that to mean that closing tag should be none if it encounters something like ```<small><small>really small text</small></small>``` which has two identical opening tags side by side, but I sense you are trying to mean something else and I'm just not getting it. Thanks.

[2015-10-31 21:55] Rua commented on #130
I'm talking about the properties on the Tag objects themselves. Under the current behaviour, anything that is assigned to the .tag or .wiki_markup properties on a Tag object will overwrite .closing_tag and .closing_wiki_markup with that value as well. My suggestion is that instead of this, the .closing_tag and .closing_wiki_markup values should remain as None until explicitly assigned (by the user

[2015-10-31 23:40] lahwaacz commented on #131
Since there is no such thing as wrong wikitext, templates with duplicate named parameters _can_ (and they really do) occur. How would you parse such templates with this dynamic behaviour? How would you guarantee that immediate serialization after parsing produces the same wikitext?

[2015-10-31 23:48] Rua commented on #131
This question is about *unnamed* parameters, which can't be duplicated (although an unnamed parameter can be duplicated by a named one). And it only concerns how the parameters are named after edits are made to the wikitext. Only the names of parameters with showkey=False would be changed by this behaviour, parameters with showkey=True will continue to work as is, taking their name from the value

[2015-11-01 09:01] earwig commented on #131
Can you give an example? Struggling to come up with a situation where mwparserfromhell does not do what you expect it to...

[2015-11-01 09:02] earwig commented on #131
Aha, GitHub, that's great! Daylight savings time messed up the comment order. Oh man.

[2015-11-01 09:46] lahwaacz commented on #131
If this is about unnamed parameters, I don't understand how you can "end up with duplicate parameter names". Can you provide more complete example, possibly including some code showing the problematic behaviour of mwparserfromhell?

[2015-11-01 09:52] earwig commented on #130
I get the underlying issue, but when do you want to update the opening tag but not the other?

[2015-11-02 04:55] jayvdb commented on #121
The two trees would be very different for almost every page where the differences are likely to be interesting.  e.g. we would need to remove lists from both trees, to work around #46.

[2015-11-02 20:36] earwig commented on #126
This is the best I can do.

[2015-11-05 21:06] wnielson opened #132 "C tokenizer exited with non-empty token stack."
Got this error today:
[code]

The page causing this error has ID ```23306180```.

[2015-11-08 10:56] earwig commented on #132
@wnielson Which page? The English Wikipedia page with that ID is [Regina Harris Baiocchi](https://en.wikipedia.org/wiki/Regina_Harris_Baiocchi), which mwparserfromhell handles fine.

[2015-12-03 02:17] TJUYZL opened #133 "AttributeError: 'module' object has no attribute 'parse'"
I can run python setup.py test -q

but when import the module, error happens:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "build/bdist.linux-x86_64/egg/mwparserfromhell/__init__.py", line 35, in <module>
  File "build/bdist.linux-x86_64/egg/mwparserfromhell/parser/__init__.py", line 44, in <module>
  File "build/bdist.linux-x86_64/egg/mwparserfromhell/parser/_t

[2015-12-03 02:18] #133 closed

[2015-12-11 20:58] kjschiroo opened #134 "failing to identify some sections"
The following script fails to identify several sections in the input.

    import mwparserfromhell as mwp
    input = open("bad_input.txt", "r").read()
    # There are 32 sections in bad_input.txt
    sections = mwp.parse(input).get_sections()
    print(len(sections))
    # 3

[bad_input.txt](https://github.com/earwig/mwparserfromhell/files/59822/bad_input.txt)
The input was retrieved from [this u

[2015-12-11 21:34] lahwaacz commented on #134
Interestingly `filter_headings` produces the expected result (all 32 headings).

[2015-12-11 21:50] kjschiroo commented on #134
Yeah, I noticed that. I wasn't sure if the two were supposed to have a one-to-one relationship or if there was something more complicated going on underneath.

[2015-12-11 21:52] earwig commented on #134
Well, I'll take a look tonight.

[2015-12-14 02:57] earwig commented on #134
Wellp... as expected, this is a symptom of #40, due to an unclosed bit of italics here:

    ''Also, please sign your posts in talk pages with four tildes (<nowiki>~~~~</nowiki>)

The current solution is to pass `skip_style_tags=True` to `mwparserfromhell.parse()`:

[code]

[2015-12-14 02:57] #134 closed

[2015-12-15 04:20] HazardSJ opened #135 "Wikicode.get_sections on [[w:en:Animal testing]]"
Please look at how mwparserfromhell treats `get_sections()` for the `Wikicode` of [[[Animal testing](https://en.wikipedia.org/wiki/Animal_testing)]]. It identifies only 3 sections (the lead section, "Definitions", and "Further reading"), so if anything in the page's source if affecting this, it might have started in the "Definitions" section and ended in the "Bibliography" section (except the "Bib

[2015-12-15 04:49] earwig commented on #135
@HazardSJ can you take a look at the issue filed just before this one (#134) and see if it's the same thing?

[2015-12-15 06:24] HazardSJ commented on #135
@earwig, it actually does seem to be the same. Even stranger is that both the page in #134 and the page I referred above both have 32 section headings, and both recognize 3 sections from `get_sections()` without `skip_style_tags=True` (P.S. wow, this workaround is familiar from ages ago, come to think of it).

[2015-12-15 06:32] earwig commented on #135
I was actually in the middle of adding a caveat to the docs about this, but you reported the issue before I had a chance to finish writing it up.

[2015-12-15 06:32] #135 closed

[2015-12-19 23:32] yuvipanda commented on #55
This also causes problems when encountering things like:

[code]
in the middle of a paragraph. This is interpreted as a heading 1 when it should be continuation of text.

[2015-12-19 23:56] yuvipanda commented on #55
I've 'fixed' it for now with https://en.wikipedia.org/w/index.php?title=Wikipedia%3ATeahouse%2FQuestions%2FArchive_296&type=revision&diff=695965028&oldid=655041713

[2015-12-30 20:15] halfak opened #136 "strip_code() needs special case for [[File:...]] links"
It looks like strip_code() interprets File-links like they are regular wikilinks.  Instead, it should remove everything except the caption/alt-text.  In the example below, the size param is dumped into the text.

[code]

[2015-12-30 20:17] earwig commented on #136
The problem here is that we are depending on wiki-specific namespace names, which are very unpredictable, so a way to configure that will be required.

[2015-12-30 21:09] halfak commented on #136
That's a good point.  It seems very awkward to configure this per-wiki since I assume the "File" namespace will be internationalized.  Is there anyway that wiki-install-specific params like this can be applied in the parser?

[2015-12-30 23:23] lahwaacz commented on #136
What's the use case for such context-sensitive code stripping? There are many more similar problems: should category and interlanguage links be stripped too? And I don't even have to start with templates...
IMHO the most general way to handle files and images in a detached code like mwparserfromhell (or its clients) would be to treat them like _templates_ and not _links_, which should have been do

[2015-12-30 23:28] halfak commented on #136
Oh!  We're working on extracting prose (sentences and paragraphs) from English Wikipedia and this was one of the issues that came up with using strip_code() to get rid of content that doesn't show up when rendered.  We're not too concerned about handling what is rendered via templates.    Generally, I agree -- it's a bummer that we use link syntax for images, but, we can't go back and fix that now

[2015-12-31 00:58] jfolz commented on #136
I did this once to identify what type a link points to. If you only need this for English Wikipedia it's pretty straightforward. You can ask it to give you all its namespaces:
https://en.wikipedia.org/w/api.php?action=query&meta=siteinfo&siprop=namespaces

However, there's some 200+ Wikipedias in total:
https://en.wikipedia.org/w/api.php?action=query&meta=siteinfo&siprop=languages

The IDs are con

[2015-12-31 01:50] halfak commented on #136
+1 for not merging siteinfo data into mwparserfromhell.  Maybe it would be more appropriate if I could provide the parser with such assets when I ask it to parse a chunk of wikitext.

Though, honestly, I'm starting to believe that this isn't something mwparserfromhell should handle.  For my specific use-case, I can walk the syntax tree and check wikilink nodes as I go to make the discussions that

[2015-12-31 09:14] earwig commented on #136
There's probably something you can do involving API functions like the one that expands templates...

In EarwigBot's copyvio detector, I had to support a similar use case. It strips out images, reference, etc and leaves alone template parameter values that are longer than a certain length (which we interpret to be article content rather than technical stuff)—rather hacky overall, but it works in t

[2015-12-31 15:35] jfolz commented on #136
`strip_code` could accept an optional kwarg for a custom mapping function and/or dict of mapping functions for different node types. Probably not worth it though just to remove a loop from client code, but there could be other uses.

[2016-01-01 20:02] earwig commented on #136
That's sensible.

[2016-01-05 03:57] jayvdb commented on #136
IMO `strip_code` should strip all attributes of `media:`, `file:` and `category:` links that are not prefixed with `:`.  Even the file: title is more code than text, as it has lost its context without the media displayed.

I vote for the caller providing a 'namespaces map' which can be used to indicate what namespace names map to which namespace numbers.

[2016-01-05 07:43] lahwaacz commented on #136
Why namespace numbers? There are no namespace numbers in the language, only in the database, which is not touched at all by mwparserfromhell. Even though the common namespace numbers are constant across all wikis, there is no need to bring numbers to the parser. What would be needed and sufficient is a map of localized and aliased namespace names to the corresponding canonical (English) names. Als

[2016-01-05 07:58] ricordisamoa commented on #136
mwparserfromhell should IMHO be kept minimal. Anyone doing serious wikitext expansion should use custom routines, perhaps with some knowledge of the wiki.

[2016-01-05 08:13] Riamse commented on #136
I agree with what @ricordisamoa just said.

[2016-01-05 08:57] jayvdb commented on #136
Somehow the names of `Media:`, `File:` and `Category:` namespaces need to be provided, if they are to be treated differently.  They have hard-coded well-known identifiers: namespace numbers.  No need to invent a new method of identifying them.

[2016-01-05 18:11] moroboshi commented on #136
Il 05/01/2016 09:57, John Vandenberg ha scritto:

A wikipedia can also define localized name for the namespace, for
examplei in it.wiki, you can use
"Category" (hardcoded) or "Categoria" (localized in italian).

--
Sono l'oscurità del nero più profondo
Più profondo della notte più nera
Sono il mare del chaos, la fonte di tutto il chaos

[2016-01-11 19:55] kjschiroo opened #137 "get_sections works for file but not for string"
This is really strange! This script works for me:

    from mwparserfromhell import parse

    doc = parse(open('654444027.txt'), skip_style_tags=True)

    for sec in doc.get_sections(include_lead=True, flat=True):
        if len(sec.filter_headings()) > 1:
            print("Bad!")
            # never prints

however, this does not work:

    from mwparserfromhell import parse

    with open('65

[2016-01-11 23:10] earwig commented on #137
The inconsistency is fixed in the above commit, but you've pointed out another thing that needs a more involved fix, which I'll have to work on later.

[2016-01-14 18:07] yuvipanda commented on #137
Btw, I've hand-fixed the test-page for now. use prev revision to test :)

[2016-01-14 18:30] yuvipanda opened #138 "Unclosed HTML tags cause strange section parsing"
If you look at https://en.wikipedia.org/w/index.php?title=Wikipedia:Teahouse/Questions/Archive_95&oldid=558621423, under the section 'Signatures':

[code]

This span tag isn't really closed, and this is having weird effects in splitting sections in mwpfh.

With:

[code]

I'm getting
[code]
with that unclosed span tag and the correct

[code]

[2016-01-14 19:07] earwig commented on #138
I think this the same as #40.

[2016-01-14 20:07] yuvipanda commented on #138
yup, probably.

[2016-01-14 20:07] #138 closed

[2016-01-18 17:57] gg4u opened #139 "Question: extracting internal links from dump"
Question: possible to use the tool to extract internal links from xml dump?
Does the tool handle redirect (transitive)?

[2016-01-18 20:50] earwig commented on #139
Yes, it parses pages from dumps as well as any other type of page, but you'll need another program to read the dumps themselves.

I am not sure I understand your second question fully, but it does not handle redirects because redirects are encoded the same as regular links in wikitext.

[2016-01-19 19:15] jfolz commented on #139
@gg4u mwparserfromhell is a parser for MediaWiki code. You cannot know whether a page is a redirect or what kind of thing it points to unless you ask the API of that MediaWiki instance.

[2016-01-19 19:46] eggpi opened #140 "get_sections() fails to parse certain sections."
I've observed the following behavior when trying to parse the page [Décadence](https://fr.wikipedia.org/wiki/D%C3%A9cadence) from the French Wikipedia:

[code]

I omitted the full contents of the sections for brevity, but the wikicode for sections Historique du thème, Concordances and Voir aussi have all been included under the Contextualisation section. My expectation was that they would each be

[2016-01-19 19:49] earwig commented on #140
Can you check if this is the same as #134?

[2016-01-19 19:59] eggpi commented on #140
Yep, looks like it! Adding `skip_style_tags = True` gets me the correct sections, and so does fixing the unclosed `''` in the line `** 390 : ''massacre de [[Thessalonique]]` (which I just did in the article).

[2016-01-19 20:57] earwig commented on #140
Thanks!

[2016-01-19 20:57] #140 closed

[2016-01-19 21:11] jfolz commented on #140
@earwig maybe `skip_style_tags = True` should be the default ;)

[2016-01-20 00:13] earwig commented on #140
It'll be removed in 0.5 or 1.0 when I create a proper config system for describing what kinds of things you are interested in parsing...

Until I get around to that, I'll avoid other changes to the API to avoid confusion.

[2016-01-25 08:02] gg4u commented on #139
@jfolz @earwig thank you for clarification.

[2016-01-25 09:11] ricordisamoa commented on #139
The page title is before `|`, the link label is after (https://www.mediawiki.org/wiki/Help:Links#Internal_links). Also you should not expect target pages to always exist, thus check for `"revisions"` in `res["query"]["pages"].values()[0]`.

[2016-01-25 09:11] lahwaacz commented on #139
1. The arguments are documented for the `ifilter()` method, all `ifilter_*` and `filter_*` methods take the same arguments. http://mwparserfromhell.readthedocs.org/en/latest/api/mwparserfromhell.html?highlight=filter_templates#mwparserfromhell.wikicode.Wikicode.ifilter

2. See https://en.wikipedia.org/wiki/Help:Link#Piped_link
    The error means that you are most likely accessing a page that does

[2016-01-26 18:15] gg4u commented on #139
@lahwaacz  XML dump come in wikitext, right?
can mwparser be used to manipulate content in between of <pages> or is it completely different syntax from wikitext?

[2016-01-26 18:25] lahwaacz commented on #139
@gg4u XML dumps come in XML. You need to use an XML parser (such as [this one](https://pythonhosted.org/mediawiki-utilities/core/xml_dump.html#mw-xml-dump)) to parse the dump, extract the wikitext encoded therein and pass it to mwparser.

[2016-02-02 17:27] qxx opened #141 "Readme description on windows installation may cause error"
`pip install --upgrade pip` may cause error on Windows due to Windows' limitation, as described in [this issue](https://github.com/pypa/pip/issues/1299).

The correct way to upgrade pip on Windows is `python -m pip install -U pip`

[2016-02-02 18:35] earwig commented on #141
Hmm... I'll just take the line out; I don't need to give specific instructions on how to upgrade one's software.

[2016-02-02 18:38] #141 closed

[2016-02-03 18:08] hgaleote opened #142 "template is interpreted as a text node if the order of its parameters is altered"
First of all, my compliments and gratitude for such a great tool.

When parsing the following code, the first node is not recognised as a template:

[code]

[code]

However, after swapping the position of parameters, the outcome is as expected:

[code]

[code]

I have tested the issue in python versions 2.7.9 and 3.4.3

[2016-02-03 18:31] Riamse commented on #142
this issue scares me

[2016-02-04 11:25] hgaleote commented on #142
I get the same result (if I didn't anything wrong) from both python and C tokenizers: no TemplateOpen token is generated at the start of the token list.

[2016-02-05 00:12] earwig commented on #142
It definitely is a valid issue, I just haven't had a chance to work on a fix yet!

[2016-02-06 07:22] earwig commented on #142
The minimal test case I can generate seems to be:

[code]

[2016-02-06 08:16] #142 closed

[2016-02-06 08:42] hgaleote commented on #142
That's fast! Tested here and it worked like a charm.

Thanks.

[2016-02-11 09:15] hgaleote opened #143 "It would be desirable to report parsing issues due to max depth reached"
Not really a bug, just a comment.

Since the tokenizer's maximum depth is stricter than that in the MediaWiki software, sometimes valid wikicode is wrongly parsed without emitting any warning notice. It would be good to have a status flag in order to be aware when that happens.

For example, if we parse 14 nested templates (valid code in MediaWiki), the outer one is given as text because MAX_DEPTH

[2016-02-11 09:18] #143 closed

[2016-02-12 10:35] earwig commented on #143
This will be fixed at some point when I work on other related bugs. Thanks for reporting.

[2016-02-23 07:44] lahwaacz commented on #40
Consider this wikitext:
[code]
MediaWiki 1.26 parses this as
[code]
which suggests that style markup cannot span across multiple lines. mwparserfromhell does this the hard/old? way:
[code]

[2016-02-23 17:47] earwig commented on #40
Oh joy.

[2016-04-08 10:27] mhsmith commented on #40
[almond.txt](https://github.com/earwig/mwparserfromhell/files/209985/almond.txt)

The attached file is a reduced version of https://en.wikipedia.org/w/index.php?title=Almond&oldid=706024513. I'd like to reduce it more, but any structural change anywhere in the text makes the problem disappear, so I don't know if this is actually an instance of this bug.

The initial table is parsed correctly, subj

[2016-04-08 13:31] mhsmith opened #144 "Indented table passed through unparsed"
MediaWiki renders the following as an indented table:
[code]

But mwparserfromhell doesn't recognize it as a table at all:
[code]

[2016-04-09 14:24] mhsmith commented on #40
Here's a really weird example from https://fr.wikipedia.org/w/index.php?title=Opposition_p%C3%A9rih%C3%A9lique&oldid=112493222 :

[code]

With the template interrupted by the end of the image context, MediaWiki appears to actually invoke the template twice in order to achieve the author's (presumed) intention.

[2016-04-10 17:15] bl79 opened #145 "Does not parsing parameters"
Parser doing skip half of parameters. In example below, a half are displayed with _print()_ but skiping with _remove()_. The other half on the contrary - does not displayed, but removing.

[code]

Display:
[code]

[2016-04-10 17:55] bl79 opened #146 "Could add methods Rename and Remove for template parameters"
Could you add in the parser support for remove many parameters by List, like:
[code]

Also, add method for rename parameters, like:
[code]

[2016-04-10 20:53] #139 closed

[2016-04-10 20:58] earwig commented on #145
You're changing the size of the `template.params` list while iterating over it. That's dangerous. You could reproduce the behavior with a regular list, so it's not something I can fix here:

[code]

[2016-04-10 20:58] #145 closed

[2016-04-10 21:13] earwig commented on #146
I don't really see the point of the first one. It's just a for loop.

The second one can be done a lot more easily with `tpl.get(name).name = newname`.

[2016-04-10 21:13] #146 closed

[2016-04-10 21:20] earwig commented on #132
Closing due to lack of details; I'm not sure how to approach this. Please reopen if you can provide some example input that causes this...

[2016-04-10 21:20] #132 closed

[2016-04-11 16:56] bl79 commented on #145
thnx, now I undestood.
Solved by add the function ParametersNameList() in my script:
[code]
looks like it works

[2016-04-12 09:28] fabianhoward opened #147 "ParserError on https://en.wikipedia.org/w/index.php?title=List_of_minerals_(synonyms)&oldid=704783982"
When attempting to parse the MediaWiki text of https://en.wikipedia.org/w/index.php?title=List_of_minerals_(synonyms)&oldid=704783982 using mwparserfromhell.parse I receive the following stack trace.

[code]

Other potentially relevant details:
- Python 3.5.1
- Mac OS X 10.11.4
- mwparserfromhell==0.4.3

[2016-04-17 06:50] bl79 opened #148 "Error on pages with tables"
On pages with tables parser don't find templates, and has writes in tables the bad char '|'.
E.g. page: https://ru.wikipedia.org/wiki/%D0%A8%D0%BF%D0%B8%D1%86%D0%B1%D0%B5%D1%80%D0%B3%D0%B5%D0%BD When parser run on text of this page with the code
[code]
then be print only a few recognized templates, e.g. be skip all bibliographic templates.

And this code add in tables '|' like:

if save the file:

[2016-04-17 06:53] earwig commented on #148
This was fixed in 61b6b984702288a4771f45a4a139d28b74988c4f. Try using the `develop` branch.

[2016-04-17 06:53] #148 closed

[2016-04-17 20:43] ExplodingCabbage opened #149 "Add method to get URL from WikiLink"
Figuring out either the absolute or relative URLs of a WikiLink is non-trivial. The code for it in mediawiki (starting at, say, https://github.com/wikimedia/mediawiki/blob/wmf/1.26wmf24/includes/Title.php#L1679) is hideous and requires many parameters (the link may even [depend upon whether the server is running IIS 7](https://github.com/wikimedia/mediawiki/blob/c42f06642091e1cb1142066b0a52a69a0c7

[2016-04-17 20:57] lahwaacz commented on #149
Using the MediaWiki's API, this is trivial enough: in [this query](https://wiki.archlinux.org/api.php?action=query&meta=siteinfo&siprop=general) take `server` and `articlepath` and replace the `$1` placeholder with the page title.

[2016-04-17 21:17] ExplodingCabbage commented on #149
@lahwaacz no - that doesn't handle escaping (at the very least we need to look at `wfUrlencode` to know which characters to percent-encode), and I suspect there are other complicated edge cases buried in the code that I don't know about.

[2016-04-17 21:54] lahwaacz commented on #149
The [standard](https://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_in_a_URI) tells you which characters in the URL need to be escaped. If you encode more, the URL might not be pretty, but it will work (assuming that it works in MediaWiki). I don't really see how this is relevant for wikitext parsing.

[2016-04-17 22:32] ExplodingCabbage commented on #149
This isn't true for several reasons.

Firstly, it isn't true even in general that the URL spec can tell you what characters you need to encode. RFC 3986 defines a set of reserved characters it calls [`sub-delims`](https://tools.ietf.org/html/rfc3986#section-2.2) which don't innately have any syntactical meaning in URLs but which *may* be assigned syntactical meaning by particular URL schemes (incl

[2016-04-17 22:41] earwig commented on #149
This falls under the class of issues that require MWPFH to have some knowledge of the parsing environment that it can't gather from the source alone.

Those are tricky under the current system; we don't have a way to specify site details when parsing, and adding one will make MWPFH's "plug-and-play" nature a lot more frustrating.

What a mess!

[2016-04-17 22:57] lahwaacz commented on #149
If you need something canonical to identify the target, you can easily compare the _escaped_ URLs instead of something (half-)human-readable. But identifying by `pageid` (or something like `siteid:pageid` if you work with multiple sites) is even better since pages can be renamed. For resolving MediaWiki's redirects you'll need to talk to the API anyway, and MWPFH will most likely never talk to the

[2016-04-17 22:58] Riamse commented on #149
I agree with Earwig. Wiki-markup exists independent of any website; it is context-free by the nature of its existence as a language.

[2016-04-17 23:42] legoktm commented on #149
Errr...it's context-sensitive: <https://www.mediawiki.org/wiki/Markup_spec#Feasibility_study>. And things like which parser tags and functions work are all dependent upon what is installed, which is specific to individual websites.

[2016-04-17 23:47] Riamse commented on #149
I did not intend to mean "context-free" by the formal definition of languages. In this context, it is clear that the context in question is the site that it exists on, as this entire discussion is about adding the URLs of a website to the wikilinks.

[2016-04-18 07:47] bl79 commented on #148
Still dont works. '|' doesn't add, but still doesn't see templates.

[2016-04-18 08:01] earwig commented on #148
Looks like #40 due to constructs like:

    |<center>14 443

No fix yet, unfortunately.

[2016-04-18 08:36] bl79 commented on #40
Answer on  #148
Perhaps ... Many of pages with this issue [AWB](https://en.wikipedia.org/wiki/Wikipedia:AutoWikiBrowser) marks as "have unclosed tags". But not all, e.g. no a tag errors in https://ru.wikipedia.org/w/index.php?title=%D0%9B%D0%B8%D0%BC%D0%BE%D0%BD&oldid=76351442

Tables placed in one sections of pages, but parser doesn't see templates in other sections. Could add function recognitio

[2016-04-28 00:12] bl79 opened #150 "How to change content of node?"
Please, say how to change content of node? E.g. `[http://example.com/ Example]` to `{{tpl| url = http://example.com/ | name = Example}}`
[code]

[2016-04-28 02:59] ricordisamoa commented on #150
Changing an external link into a template requires changing the type.

This seems to work:
[code]

or with Template constructor:
[code]

[2016-04-28 03:09] earwig commented on #150
[code]

[2016-04-28 03:09] #150 closed

[2016-04-28 12:43] bl79 commented on #150
ricordisamoa, both cases gets error at `code.index(link)`.
earwig, thank you.

[2016-04-28 15:19] ricordisamoa commented on #150
@bl79 I only tested them with top-level links. But of course @earwig is more experienced :)

[2016-05-05 22:25] nettrom opened #151 "Emphasis spanning sections"
Came across an issue when parsing https://en.wikipedia.org/w/index.php?title=User_talk:JoeHebda&oldid=718781560

There's an unclosed emphasis in a section that causes the nodes list to contain a single item that spans several sections up until the next emphasis. I've attached the smallest amount of wikitext that I could extract that exemplifies the behaviour. Here's example code that'll show the p

[2016-05-05 22:46] earwig commented on #151
See #40.

`skip_style_tags=True` as an argument to `mwparserfromhell.parse()` should resolve this temporarily.

[2016-05-05 22:46] #151 closed

[2016-05-29 00:24] groceryheist opened #152 "Parser Error Info: C tokenizer exited with BAD_ROUTE."
[bugtext.txt](https://github.com/earwig/mwparserfromhell/files/288071/bugtext.txt)

[2016-06-07 19:34] Riamse opened #153 "Wikicode string methods do not completely correspond to their string string equivalents"
[code]
please fix

[2016-06-07 19:43] Riamse commented on #153
Mostly the part where trying to replace something that is not contained in the string results in an exception instead of the original string unchanged:
[code]

[2016-06-07 20:49] lahwaacz commented on #153
Your variable `w` is not a string (`str`), but a `Wikicode` object. Its `replace` method (documented [here](https://mwparserfromhell.readthedocs.io/en/latest/api/mwparserfromhell.html#mwparserfromhell.wikicode.Wikicode.replace)) works differently than `str.replace`, the `ValueError` exception is raised regardless of the parameter type, which can be a `Node`, `Wikicode` or `str`. Given `str` is fir

[2016-06-08 03:41] earwig commented on #153
You're right, though I see the point. There's a benefit in having the API match the regular string API as much as possible, though I'm uncomfortable making a breaking change here. I'll think about it, maybe along with the larger changes for v1.0...

[2016-06-28 07:12] lahwaacz commented on #55
Also note that the amount of blank lines after a heading does not matter, e.g.

[code]
is parsed by MediaWiki as
[code]

[2016-07-23 16:20] jayvdb commented on #152
The contents of the attached text file are

[code]

[2016-07-23 16:21] jayvdb commented on #152
The contents of the attached text file are

[code]

[2016-07-30 09:24] eranroz commented on #136
I just had a similar case where I want to strip_code and remove all the images, so this is my solution:

[code]

And to get ALTERNATIVE_ALIASES you need to:
* Request it by API: https://en.wikipedia.org/w/api.php?action=query&meta=siteinfo&siprop=namespaces|namespacealiases
* get it from php code: mediawiki/core/languages/messages/MessagesXX.php (namespaceAliases)
[IMO: all approaches are out of s

[2016-07-30 17:06] earwig commented on #136
Just use `mwparserfromhell.parse(wikicode)`...

[2016-07-31 22:59] Abbe98 opened #154 "HTML comments not ignored when parsing templates"
Example:
[code]
prints: `Template `

[2016-07-31 23:00] earwig commented on #154
This is the correct behavior.

[2016-07-31 23:04] #154 closed

[2016-07-31 23:04] earwig commented on #154
Oh, if you want to test for the name of a template, use [`matches`](http://mwparserfromhell.readthedocs.io/en/latest/api/mwparserfromhell.html#mwparserfromhell.wikicode.Wikicode.matches), which strips formatting and does some normalization:

    True

    False

[2016-07-31 23:08] Abbe98 commented on #154
Okey, Thanks!

[2016-08-07 17:17] lahwaacz commented on #153
Note that [str.replace](https://docs.python.org/3/library/stdtypes.html?highlight=str.replace#str.replace) returns a _copy_ of the string instead of changing the instance. `Wikicode.replace` will most likely never do this, so there will always be some difference.

[2016-08-08 08:27] Abbe98 opened #155 "add() sometimes add a line-break between property name and value"
Example(`warp_status was added`):
[code]

&&

[code]

[2016-08-08 11:00] lahwaacz commented on #155
Where is the code that did this?

[2016-08-08 11:26] Abbe98 commented on #155
`self.wikitext` is a wikicode object,
`self.page` is a pywikibot page object

[code]

2016-08-08 13:00 GMT+02:00 Jakub Klinkovský <notifications@github.com>:

[2016-08-08 12:25] lahwaacz commented on #155
What is the type of `t`? The [Template](https://mwparserfromhell.readthedocs.io/en/latest/api/mwparserfromhell.nodes.html#module-mwparserfromhell.nodes.template) does not have an `insert` method.

If this is a typo and you meant `add` instead of `insert`, what are the _values_ of `t`, `property` and `value` which lead to this behaviour? I'm not going to guess from your first post because one of th

[2016-08-08 12:38] Abbe98 commented on #155
It was a typo and yes `t` is a template object.
`value` contains no whitespace at all(`value` and `property` both when this occurred and not).

[2016-08-08 12:46] lahwaacz commented on #155
Thanks, but that's still not a [minimal working example](https://en.wikipedia.org/wiki/Minimal_Working_Example). So far I can only guess what the values are and everything seems to work as expected.

[2016-08-08 16:54] Abbe98 commented on #155
I will have a hard time creating a minimal working example as it's a
inconsistent issue [here](
https://commons.wikimedia.org/w/index.php?limit=50&title=Special%3AContributions&contribs=user&target=Abbe98+Bot&namespace=&tagfilter=OAuth+CID%3A+429&year=2016&month=-1)
is the contribution log for reference.

2016-08-08 14:46 GMT+02:00 Jakub Klinkovský <notifications@github.com>:

[2016-08-08 17:40] earwig commented on #155
The bug makes sense based on how `Template.add` works. At the moment, it only tries to match whitespace before and after the parameter name and value based on the most common existing pattern. It interprets every parameter in your example as having whitespace before its value, so the added parameter gets formatted like that.

A proper fix to that method's "whitespace guessing" ability will need to

[2016-08-08 19:07] Abbe98 commented on #155
I guess a possible hack would be to append the last parameter with a line-break/whitespace?

I'm not familiar with the AWB source code.

[2016-08-11 04:57] bl79 opened #156 "Installation on the wiki Tool labs"
How to install the parser on Tool labs? There `pip install` does not work. Also `python setup.py install` (after `git clone ...`) give error "permission denied".

And the question is if possible install the parser. Maybe I'll use it in few projects in different directories. So  should put it in the directory upper the projects folders. But I don't understand how `import` a module from the upper fo

[2016-08-11 05:00] earwig commented on #156
Use a [virtual environment](http://docs.python-guide.org/en/latest/dev/virtualenvs/). mwparserfromhell is no different from other python software in this case.

[2016-08-11 06:11] Riamse commented on #156
Try running those commands with `--user` . But otherwise I agree with @earwig .

[2016-08-11 06:13] legoktm commented on #156
Also, I think its already installed on tool labs...?

[2016-08-11 07:26] bl79 commented on #156
I installed the "virtual environment", and via it the dev-version of parser from git (as writen in README). But then began the incompatibility problems with Python 2.7 of Tool labs.
The example from the README file (start without pywikibot) breaks down with error that there is no package "urllib.parse" with "urlencode". This "urllib.parse" use Python 3, but at 2.7 the "urlencode" and "qoute" inclu

[2016-08-11 07:27] Riamse commented on #156
you can compile your own python and install it to ~/.local/

[2016-08-11 07:28] earwig commented on #156
Python 3 is already installed on Tool Labs as `python3`.

[2016-08-11 07:28] Riamse commented on #156
that too

[2016-08-11 07:59] bl79 commented on #156
Maybe I made a mistake that the problem is not in the parser, but in the example of README file that uses:
[code]

I ran a simple script (only "text", parsing templates contained in it, and print it) with "python3. It works: `python3 test.py`

[2016-08-11 08:02] Riamse commented on #156
great!

[2016-08-11 08:05] #156 closed

[2016-08-11 20:53] kjschiroo opened #158 "C tokenizer exited with non-empty token stack."
I get the following message when parsing revision id 732147567

[code]

Here is the revision text
[732147567.txt](https://github.com/earwig/mwparserfromhell/files/414206/732147567.txt)

[2016-08-12 13:34] vladiscripts opened #159 "Ask: How to remove a template from text?"
Next example removes only name from template, but itself remains.

[code]

[2016-08-14 09:51] lahwaacz commented on #159
Use [wikicode.filter_templates](https://mwparserfromhell.readthedocs.io/en/latest/api/mwparserfromhell.html#mwparserfromhell.wikicode.Wikicode.filter_templates) to get the exact instance you want to remove:

[code]

[2016-08-14 17:01] #159 closed

[2016-08-15 11:40] vladiscripts commented on #159
Thank you!

[2016-08-17 22:23] kjschiroo opened #160 "Wikilinks not parsed on first pass"
For revision [695594020.txt](https://github.com/earwig/mwparserfromhell/files/423734/695594020.txt) some links are not being parsed on the first pass.

To demonstrate this:

[code]

Gives this as output:

[code]

[2016-08-18 07:45] lahwaacz commented on #160
That's #40. The revision contains couple of unclosed `<code>` tags (e.g. `<code><nowiki><ref>source_information</ref></nowiki><code>`) and mwparserfromhell chokes on this.

[2016-08-18 07:51] earwig commented on #160
It's always #40. When am I ever gonna get around to fixing that? _sighs_

[2016-08-19 13:03] vladiscripts commented on #156
Which version of mwparserfromhell is installed on "Tool labs"?
Major v0.4.3 spoils a tables in pages by adding to them code '|' (#148). I'm afraid to use automatically this required parser in my bot.

[2016-08-19 16:32] earwig commented on #156
I really just suggest using a virtual environment and `python setup.py install`ing the develop branch from within it. I don't control the tool labs install, so I'm not sure how out of date it can get.

[2016-08-22 07:30] tobiasschweizer opened #161 "Convert Wikicode to XML"
Is there an easy way to convert Wikicode to XML using `mwparserfromhell`?

In fact, the mw code I am dealing with already looks like XML except for the links.

Can I provide a mapping for these wiki-links so they get turned into XML?

Could I use the `builder` to do so applying `_handle_wikilink` (https://mwparserfromhell.readthedocs.io/en/latest/api/mwparserfromhell.parser.html#module-mwparserfro

[2016-08-22 07:46] jayvdb commented on #161
"the mw code I am dealing with already looks like XML.."

Do you mean the raw wikitext in the wiki source looks like XML?

Or, the mwparserfromhell generated tree looks like XML?

[2016-08-22 08:04] tobiasschweizer commented on #161
Sorry, let me give you a concrete example. This is the source:

[code]

I would like to turn the links (`[[File:file_icon.gif|link=http://www.ub.unibas.ch/digi/bez/bernoullibriefe/jpg/L_Ia_654/BAU_5_000055682_0001.jpg]]`) into valid XML using `mwparserfromhell`.

So each of these links should be turned into something like: `<file src="http://www.ub.unibas.ch/digi/bez/bernoullibriefe/jpg/L_Ia_654/B

[2016-08-22 08:19] jayvdb commented on #161
Would you be happy with it converted to HTML ?

[2016-08-22 08:22] tobiasschweizer commented on #161
Well, it depends on how this HTML would look like :-)

What would be the easiest way to do the thing I want? Are there other tools I could use?

[2016-08-22 08:32] jayvdb commented on #161
I believe that [parsoid](https://www.mediawiki.org/wiki/Parsoid) can be used as a library (without the web service) or command line tool, so that could be enough to give you a HTML version.

[2016-08-22 08:43] lahwaacz commented on #161
mwparserfromhell can't parse the `link=...` part of file links, see #87.

[2016-08-22 21:23] tobiasschweizer commented on #161
I figured out a solution that works for me by iterating over the nodes (recursively) and looking at their type (`isinstance). Depending on the type of the node, I write the desired XML representation to a file. Actually, I just have to generate the doctype, the root elements (opening and closing) and handle internal and external links specially. The rest already looks like XML.

[2016-09-15 10:58] tobiasschweizer opened #162 "initial row in a table"
I parse a table written in wiki syntax and iterate over its nodes. The elements of a table appear as `mwparserfromhell.nodes.Tag` which is nice to convert the to HTML. However, the initial row is not given but required for valid HTML.

[code]

produces this HTML:

[code]

Is there a way to add `<tr>` to the first row?

[2016-09-15 11:17] tobiasschweizer commented on #162
I using mwparserfromhell (0.4.3)

[2016-09-16 11:36] tobiasschweizer opened #163 "handling of paragraph breaks"
Is there a way to convert newlines to paragraphs using `mwparserfromhell`?

Whenever two newlines occur after one another, I would like to wrap the whole thing with `<p>`.

https://en.wikipedia.org/wiki/Wikipedia:Line-break_handling

[2016-09-16 12:15] lahwaacz commented on #163
That's much more complicated than converting _every_ `\n\n` to `<p>`. Consider for example
[code]
Although there is a blank line, MediaWiki does not add any `<p>` because everything is inside `<li>`.

[2016-09-16 12:51] tobiasschweizer commented on #163
I am dealing with source code that is converted to HTML by the MediaWiki-system and it generates the `<p>` correctly.

However, I want to convert it to XML directly from source and so I think `mwparserfromhell` would have to do whatever a MediaWiki-system would do to handle the paragraphs (it already handles links, tables etc. in that way).

test.mw:
[code]

`pandoc -f mediawiki test.mw -o test.ht

[2016-09-16 13:02] tobiasschweizer commented on #163
I found this when I looked for an XSLT transformation: <http://stackoverflow.com/questions/5501832/create-paragraphs-with-xsl>

I could just post-process my XML. However, it would be nicer if `mwparserfromhell` would do it directly.

[2016-09-23 16:13] halfak opened #164 "C tokenizer exited with non-empty token stack"
Error while processing [2013 AIBA World Boxing Championships – Light welterweight](https://en.wikipedia.org/wiki/2013_AIBA_World_Boxing_Championships_%E2%80%93_Light_welterweight) @ [726997736](https://en.wikipedia.org/wiki/?oldid=726997736):

[code]

[code]

[2016-09-23 16:19] halfak opened #165 "C tokenizer exited with BAD_ROUTE."
Error while processing [2006 French Open – Girls' Singles](https://en.wikipedia.org/wiki/2006_French_Open_%E2%80%93_Girls%27_Singles) @ [685719491](https://en.wikipedia.org/wiki/?oldid=685719491):

[code]

[code]

[2016-09-23 16:44] lahwaacz commented on #164
Most likely a duplicate of #40, the same workaround (`skip_style_tags=True`) applies.

[2016-09-23 16:46] lahwaacz commented on #158
Hmm, the `skip_style_tags=True` workaround for #40 does not help here.

[2016-09-23 16:49] lahwaacz commented on #165
Most likely a duplicate of #40 or #65, the `skip_style_tags=True` workaround works here as well.

[2016-09-23 16:50] lahwaacz commented on #152
Duplicate of #40 and #65. Use `skip_style_tags=True` as a temporary workaround.

[2016-09-23 16:58] lahwaacz commented on #65
To avoid duplicate reports, it might be a good idea to temporarily change the error message from `This is a bug and should be reported. Info: C tokenizer exited with BAD_ROUTE.` to something like
[code]
As a bonus, you might check if `skip_style_tags` is already true.

[2016-09-25 07:09] Srijancse opened #166 "Parsing WikiCode to HTML"
Is there a way, I can use mwparserfromhell, to parse wikitocode to HTML?

[2016-09-25 07:31] lahwaacz commented on #166
No. See #161.

[2016-09-25 07:32] earwig commented on #166
[Parsoid](https://www.mediawiki.org/wiki/Parsoid) might be best here.

[2016-09-25 07:39] Srijancse commented on #166
The thing is, parsoid is quite heavy and using it for offline editing, doesn't suits! Since, mwparserfromhell, is a powerful parser, will someone be working on the HTML parsing in future?

[2016-09-25 07:45] earwig commented on #166
I don't think so. mwparserfromhell's output structure is designed to be easy to manipulate for bots or tools, especially those that need to re-serialize it as wikitext with minimal changes and no other dependencies.

Building HTML would require a lot of logic we don't have yet, like actually expanding templates onwiki somehow. I guess #100 exists, though.

[2016-09-25 07:49] Srijancse commented on #166
I agree. Actually, I was building an offlineextension for wikieditor, and was looking for ways to use mwparserfromhell. But, I agree, that it seems to be tough to build HTML using it!

[2016-09-29 17:59] tobiasschweizer opened #167 "two italic paragraphs get collapsed"
If two italic paragraphs follow after one another

[code]

they get collapsed into this

[code]

However, this should be
[code]

[2016-09-29 18:00] tobiasschweizer commented on #167
using mwparserfromhell (0.4.3)

[2016-09-29 18:06] lahwaacz commented on #167
Seems to work fine in master:

[code]

[2016-09-29 18:07] tobiasschweizer commented on #167
I got the current version with pip2.7

Could you tell what the possible difference is between the versions?

[2016-09-29 18:09] tobiasschweizer commented on #167
How could I test dev version without messing up my version installed with pip?

[2016-09-29 18:16] lahwaacz commented on #167
The diff is [here](https://github.com/earwig/mwparserfromhell/compare/v0.4.3...develop). For installation from git, see the [Installation section](https://github.com/earwig/mwparserfromhell#installation) or [pip documentation](https://packaging.python.org/installing/#installing-from-vcs). Use a virtual environment if you need multiple versions.

[2016-09-29 19:19] earwig commented on #167
I don't think I fixed any bugs relating to that between 0.4.3 and now. I tested in a virtualenv and both versions do the correct thing. So I suspect the behavior you're noticing is related to the surrounding context of the text.

[2016-09-29 19:35] tobiasschweizer commented on #167
Could you please post the complete example you tried?

[2016-09-29 19:40] tobiasschweizer commented on #167
Damn, it was my fault. Sorry! I did some kind of preprocessing that messed it up.

Sorry!

[2016-09-29 19:40] #167 closed

[2016-10-25 03:16] Riamse opened #168 "Multiple sections parsed as one section"
https://en.wikipedia.org/w/index.php?title=Wikipedia:Administrators%27_noticeboard/Incidents&oldid=746063211

If you try to run `mwparser.parse(bot.page.content).get_sections(levels=[1,2])[2]` you'll get wikicode that contains both the "Help with JT Leroy page" section and the "Battle of France" section. This is a bug.

[2016-10-25 03:21] earwig commented on #168
🐜

[2016-10-25 03:30] Riamse commented on #168
#40 may or may not be related

[2016-10-28 16:01] halfak opened #169 "strip_code() doesn't strip image formatting code"
[code]

Expected `A fly`, got `thumb|alt=A drawing of a fly from facing up|A fly`.

[2016-10-28 16:02] halfak commented on #169
It seems like that `strip_code()` should always only return the last block of content in a wikilink, split by `|`.  This would skip the whole `thumb` and `alt=...` portions of the link.

[2016-10-28 16:40] halfak commented on #169
OK... so it looks like `[[Test|thumb|Bar]]` renders as "thumb|Bar", so images are simply crazy.  *sigh*  Maybe there would be a good way that I could implement my own __strip__ for a particular node type in `strip_code()`.  E.g. `strip_code(for={Wikilink: lambda wl:wl.text.split("|")[-1]})`

[2016-10-28 17:19] earwig commented on #169
You already reported this?

#136

[2016-10-28 17:19] #169 closed

[2016-10-28 22:09] halfak commented on #169
Indeed. It looks like I did.  Was looking at the problem from a different direction.

[2016-11-15 20:11] legoktm opened #170 "Provide wheels for Linux on pypi"
It would be nice if wheels were available for Linux users on pypi so it didn't have to be built when installing.

[2016-11-15 20:46] Riamse commented on #170
mwparser on wheels

[2016-12-04 01:41] #152 closed

[2016-12-17 10:41] tarouk2020 opened #171 "pygame issue"
when trying to install the pygame package always have this error message :
C:\Program Files\Python35-32\Scripts>pip3 install pygame-1.9.2-cp35-cp35m-win32.whl
Processing c:\program files\python35-32\scripts\pygame-1.9.2-cp35-cp35m-win32.whl
Installing collected packages: pygame
Exception:
Traceback (most recent call last):
  File "c:\program files\python35-32\lib\site-packages\pip\basecommand.py",

[2016-12-17 21:23] Abbe98 commented on #171
I believe you are looking for the pygame issue tracker: https://bitbucket.org/pygame/pygame/issues

[2016-12-17 21:54] earwig commented on #171
Yeah... I'm not sure how you got here, but this is for an unrelated project.

[2016-12-17 21:54] #171 closed

[2016-12-30 08:00] legoktm opened #173 "Document 3.6 support"
Python 3.6 has now been released. I assume mwph will work fine on that version, but I don't have any machines with 3.6 installed.

<https://docs.travis-ci.com/user/languages/python/> apparently doesn't support 3.6 yet...

[2016-12-30 08:32] legoktm commented on #170
After reading [PEP 513](https://www.python.org/dev/peps/pep-0513/), this is more complicated than it appears at first.

We should investigate setting up something like https://github.com/pypa/python-manylinux-demo so the wheels are built automatically.

[2016-12-30 08:33] earwig commented on #170
We'll try this for 0.5.

[2017-01-09 13:58] eggpi opened #174 "Taking the len() of an empty slice of a node list raises ValueError."
A corner case, and probably not a particularly important one, but I was puzzled by this behavior:

[code]

[2017-01-09 14:11] lahwaacz commented on #174
To expand on that one:
[code]

[2017-01-09 22:50] shrikantp2 commented on #93
I want to extract data from wikitable here https://en.wikipedia.org/wiki/OHL_Classic_at_Mayakoba but only the rows with columnspan = 10
so  I want current and all previous names of the tournament
e.g. 1) OHL Classic at Mayakoba
       2) Mayakoba Golf Classic
       3) Mayakoba Golf Classic at Riviera Maya-Cancun
Will it be possible using filter_tags

I want to also do some validation i.e. I only

[2017-01-10 07:34] #174 closed

[2017-03-01 16:26] borzunov commented on #71
I've helped @untech today who stubled upon a similar problem. He used `multiprocessing.imap_unordered` to iterate through texts, parse them with `mwparserfromhell.parse` in parallel, and do other transformations. He got the following traceback:

[code]

Eventually, it turned out that there were incorrect texts, and `parse` raised `ValueError` on them. This exception contained some information abou

[2017-03-04 02:43] earwig commented on #71
Thanks for the bug report. I think I've fixed it in 6ffdfa52efdde478d667add0b850742a084c9838.

[2017-03-09 03:50] BrenBarn commented on #46
What is the status of this?  As it is, since list contents are not nested, there's no easy way to remove a list (or a list item) completely from the AST.  If you remove the list tag node, you just leave behind the content.

[2017-03-09 05:13] earwig commented on #46
No updates, sorry. You are right that it presents a substantial limitation. I won't have time to work on this project for a while.

[2017-03-09 08:56] eggpi commented on #46
For what it's worth, I wrote [this code](https://github.com/eggpi/citationhunt/blob/list/snippet_parser/core.py#L394-L439) for grouping the nodes into list items a while ago.

I haven't got around to merging that yet on my own project, so keep in mind that it's just a barely-tested hack, but it might help you identify individual items and remove them.

[2017-03-11 03:35] BrenBarn commented on #46
I took a look at the parsing code.  There seem to be several situations where linebreaks really ought to be considered tokens, but are not.  This results in parsing that differs from MediaWiki.  For instance, in Media Wiki, if you have (admittedly perverse) markup like this:

[code]

Then what you get is

That is, a line break ends the italic formatting.  We also need the line break to end the lis

[2017-03-11 19:38] earwig commented on #46
Oh, I didn't realize that. Okay... well, that makes possible solutions a bit easier. Line breaks likely should be treated as tokens then.

[2017-03-11 19:59] lahwaacz commented on #46
The linebreaks problem is most likely related to https://github.com/earwig/mwparserfromhell/issues/40#issuecomment-187586605.

Also note that linebreaks can be considered tokens _only sometimes_. To make the above snippet even more perverse, consider this:

[code]

Then you'll get this:
[code]

Note that some tags are not like the others, style markup is terminated at linebreaks inside `<span>`, b

[2017-03-12 02:30] BrenBarn commented on #46
That's true, although I think it's not unreasonable to punt on handling `<pre>` since it's kind of a different kettle of fish.  Even other HTML tags aren't interpreted inside `<pre>`.

[2017-03-12 08:57] lahwaacz commented on #46
Obviously at least `<nowiki>` behaves the same as `<pre>` here and who knows how each extension tag behaves. There might also be other inconsistencies we haven't found yet.

[2017-03-14 12:25] T-101 opened #175 "implementation for wikitext-lists"
MWPFH doesn't seem to know what to do with wikitext-lists. I found a few from Wikipedia articles about musical recording:

After I `.parse()` those, `.strip_code()` returns an empty string, and filters a quite lost too.

[2017-03-19 03:44] #175 closed

[2017-05-18 14:47] KOLANICH opened #176 "Templates with unbalanced single quotes are not parsed correctly"
for example
[code]

[2017-05-18 17:55] lahwaacz commented on #176
Duplicate of #40. Use `mwparserfromhell.parse()` with `skip_style_tags=True` as a workaround.

[2017-05-18 18:52] #176 closed

[2017-06-03 16:01] Larivact opened #177 "How do you get the parent node of a node?"
[code]

How do you get the parent node of `link`?

[2017-06-03 16:16] Larivact commented on #177
tree.get(tree.index(link, True))

I think this should be documented as it isn't obvious.

[2017-06-03 16:49] lahwaacz commented on #177
That does not get you the parent of the `link`, but its greatest-great-grandparent :wink: If you make the input little more complex, such as a link in two nested templates, you'll notice the difference.

Actually, mwparserfromhell has the search implemented internally:

[code]

[2017-06-03 17:03] Larivact commented on #177
But I want the parent *Node* not the parent *Wikicode*.

[2017-06-03 17:18] lahwaacz commented on #177
The _Node_ seems to be indexed by the second return value of `_do_strong_search`:

[code]

[2017-06-03 17:34] earwig commented on #177
_do_strong_search is for finding the Wikicode object that contains a node (or group of nodes). There isn't an easy way to tell it to give you the node that contains a Wikicode object.

The bigger question is, what exactly are you trying to accomplish here?

[2017-06-03 17:48] Larivact commented on #177
I am working on a script that detects dead links and inserts the `Dead link` template after the link.
When a dead link however is an argument of a particular template I want to insert the `Dead link` template after the parent template instead of after the argument.

[2017-06-03 18:07] earwig commented on #177
Ah. So what about a case like `{{cite web|url=''http://example.com''}}`—the "parent node" of the URL is the italic tag, but I assume you would want to get the `{{cite web}}` template. So maybe you are looking for the parent _template_ of a node?

But how about `{{quote|text=blah blah http://example.com blah blah blah}}`? I assume here you wouldn't want to get the `{{quote}}` template because it's

[2017-06-03 18:14] Larivact commented on #177
Yes, how do I do that?

[2017-06-03 18:15] lahwaacz commented on #177
Thinking of mwparser integration, what about writing something like `get_ancestors` to let the users choose which is the correct node for their use case?

[2017-06-03 18:26] earwig commented on #177
In theory, yes, but the graph structure isn't represented this way so I wouldn't implement it that way.

This is how I would do it:

[code]

Example:
[code]

[2017-06-03 18:31] earwig commented on #177
@lahwaacz That would be useful. We can keep this issue open for the sake of solving that question.

[2017-06-03 18:40] Larivact commented on #177
But that requires iterating through all templates which surely is less efficient than iterating through just the parents. An abstract syntax tree is inherently hierarchical. Implementing it in a way that doesn't  let you efficiently access the parent of a node seems like a fundamentally flawed design decision.

[2017-06-03 19:08] earwig commented on #177
¯\\\_(ツ)_/¯

Storing ancestor pointers everywhere would make a lot of insertion/grafting operations more tedious and I've never needed them before, so that's why they don't exist. Parsing is much more expensive than iterating over the tree (not to mention network I/O being the limiting factor with most bots) so whatever efficiency savings you get by going from O(n) to O(1) is probably minimal in t

[2017-06-03 19:19] Larivact commented on #177
Well thanks for your support I appreciate it. But I don't see how parent pointers would "make a lot of insertion/grafting operations more tedious".

[2017-06-03 19:34] lahwaacz commented on #177
I have a version of `get_ancestors` based on `Wikicode._get_children`, which seems to work:

[code]

[2017-06-03 19:38] earwig commented on #177
Maybe that wasn't clear—I mean internal implementations of insertion/grafting operations, e.g. [setters like this](https://github.com/earwig/mwparserfromhell/blob/develop/mwparserfromhell/nodes/wikilink.py#L75), because they would need to update the parent pointer(s) when doing so. I don't think it should change anything for the end user, but it does require going through all the code carefully an

[2017-06-03 19:51] Larivact commented on #177
@earwig Your `find_containing_template` doesn't work when there are two identical links.

[2017-06-03 23:23] earwig commented on #177
I don't know what you mean by the references being property-independent...

Anyway, the above commit should be an improvement.

I added a modified version of @lahwaacz's `get_ancestors` function and a `get_parent` as well. We can solve your original question like this:

[code]

Here is a fixed version of my `find_containing_template` function (probably still a little awkward but it does the job):

[2017-06-04 07:42] Larivact opened #179 "External links incorrectly contain adjacent templates"
[code]

[2017-06-04 07:50] earwig commented on #179
It depends on the contents of the template. For example, `http://example.com/foo{{!}}bar` is (correctly) parsed as a complete link. I'm not sure what can be done here.

[2017-06-04 08:03] Larivact commented on #179
Huh, the templates really pose a problem for MediaWiki AST parsers. Maybe you could let the user configure certain templates as link-ending?

[2017-06-04 08:14] Larivact commented on #179
Let the user configure which templates are allowed in links and make all other templates end links.

[2017-06-04 08:38] Larivact commented on #179
The name really starts to make sense when you factor in templates.

[2017-06-04 08:52] Larivact commented on #179
I guess I just have to also check the url for the `dead link` template.
I think this should be added to the caveats section of the readme.

[2017-06-04 21:34] earwig commented on #102
To add, this isn't as simple as hard-coding a large list of valid tags like in [definitions.py](https://github.com/earwig/mwparserfromhell/blob/develop/mwparserfromhell/definitions.py) since they are extension-dependent. It would need to be a configuration option.

[2017-06-05 04:47] Larivact commented on #102
Can somebody provide a minimal working example?

[2017-06-05 07:01] #179 closed

[2017-06-06 21:57] Riamse opened #181 "Release the GIL while tokenising in C"
Because C modules can choose to release the GIL when they aren't using Python objects. If a CPU-heavy function is implemented in pure C, it can release the GIL using Python's C API. This allows the interpreter to run Python code for another thread. This makes mwparser faster.

[2017-06-06 21:58] earwig commented on #181
The C tokenizer uses Python objects very heavily, so I'm not sure this is possible without majorly restructuring the way the tokenizer works.

[2017-06-06 22:26] Riamse commented on #181
boo

[2017-06-08 01:55] Riamse opened #182 "Tokens should have per-token attributes intsead of"
dumping things into a dict randomly

[2017-06-13 03:53] #177 closed

[2017-06-22 09:08] Larivact opened #183 "Template not recognized under weird circumstance"
[]

Ran into this weird issue while parsing an article. This is the most minimal example I could figure out.
Why 14 tags? I don't know. Remove one and the problem no longer occurs. Add a space between the square brackets and it no longer happens.

[2017-06-22 09:20] Riamse commented on #183
Seems to be on the Tokeniser end of things:

[code]
Similarly alarming is the time it takes to tokenise:
[code]

[2017-06-22 18:31] earwig commented on #183
This looks like #42, but after thinking on it for a bit I've come up with a better solution to this general problem than what I had thought of previously. It should be much easier to implement. Stay tuned...

[2017-06-23 05:11] #42 closed

[2017-06-23 05:11] #65 closed

[2017-06-23 05:11] #102 closed

[2017-06-23 05:11] #165 closed

[2017-06-23 05:11] #183 closed

[2017-06-23 05:38] earwig commented on #163
I think this is out of the scope of what mwparserfromhell tries to do. We aren't really interested in representing wikicode as HTML to this extent, and adding that functionality would require a lot of extra logic. Another library like [Parsoid](https://www.mediawiki.org/wiki/Parsoid), that has an awareness of HTML, may be more appropriate here.

[2017-06-23 05:38] #163 closed

[2017-06-23 05:41] #166 closed

[2017-06-23 05:41] #161 closed

[2017-06-23 05:48] earwig commented on #42
🎉 💯

[2017-06-23 06:47] earwig commented on #155
I partially fixed it—the new param does get placed on the correct line—but it's not perfect. I would like to revisit this algorithm in the future at some point.

[2017-06-23 07:00] earwig commented on #182
#41 is related/overlapping.

[2017-06-23 07:09] earwig commented on #160
I think we can consider this fixed by #42, since the example now produces the links as expected.

[2017-06-23 07:09] #160 closed

[2017-06-23 07:30] Riamse commented on #183
S U C K  I T  M I C R O $ O F T

[2017-06-23 08:13] earwig commented on #147
I finally figured this one out, and it was incredibly obscure. The wikicode is a bit of a mess, and has something that looks like an unpaired HTML tag (`<Th`) that the parser treats as such. The underlying parsing bug has been fixed, but we still get semi-garbage output (though it does match the input correctly and does not throw an exception). I think this is a GIGO case until the parser develops

[2017-06-23 08:14] earwig commented on #147
Fixed in cd4f90e663fa421b836e93ddc56e4a573eefb664.

[2017-06-23 08:14] #147 closed

[2017-06-23 08:15] earwig commented on #158
Fixed in cd4f90e663fa421b836e93ddc56e4a573eefb664. Same bug as #147.

[2017-06-23 08:15] #158 closed

[2017-06-23 08:36] Riamse commented on #41
assign this to me my dude

[2017-06-23 08:42] earwig commented on #41
Can't.

[2017-06-23 08:42] Riamse commented on #41
lame-o

[2017-06-23 08:50] earwig commented on #164
Fixed in cd4f90e663fa421b836e93ddc56e4a573eefb664, same as #147 and #158. Slipped by me the first time around (probably because it has the same title as #158 :P)

[2017-06-23 08:50] #164 closed

[2017-06-23 13:44] Larivact opened #184 "Definition term and description tags should contain their content"
[code]
When I am looking for top level Text nodes I don't want dt and and dd contents.

[2017-06-23 14:08] Larivact commented on #103
Making the parser recognize space-initialized code blocks would be great since doing so manually is ugly. You have to iterate over all Texts, make sure they have no parent, make sure the previous node isn't a dt or dd tag and then iterate over `text.value`, checking if the lines start with a space.

I guess the node could be called `Preformatted` and would have a Wikicode `value`.

[2017-06-23 16:45] lahwaacz commented on #184
This is basically the same problem as #46, although the title specifies only "list tags".

[2017-06-23 19:30] earwig commented on #184
Technically definition lists are a type of list (I think?), so yes. Will mark as a duplicate.

[2017-06-23 19:30] #184 closed

[2017-08-15 18:10] betson opened #185 "Broken Newlines When Adding/Removing Template Properties"
I've encountered a few templates where adding/removing properties results in unanticipated changes to the newlines, forcing multiple properties on the same line afterwards. This may be related to #155, but this is related more to newlines than whitespace around key/value.

The basic code sample I'm running is:
[code]
Where `template` is the parsed "Infobox U.S. County" template from a number of di

[2017-08-15 20:06] earwig commented on #185
Thanks for the report. First impression is that this looks to be the same general issue as #155.

The syntax in example 1 is incredibly broken and I don't think I have much hope of getting MWPFH to do something 'correct' here, other than fixing spacing around "census estimate yr". 2 and 3 are more legitimate problems.

[2017-08-15 22:20] earwig commented on #185
I tweaked some of the logic in the above commit, which fixes the problems in your second and third examples and gives better results in the first. Example 1 is really a GIGO situation and I don't think it can be improved further.

I'm sure there are other nefariously formatted templates in the wild; if you see more, let's use the newly renamed #155 for them.

[2017-08-15 22:20] #185 closed

[2017-08-16 17:11] betson commented on #185
I can confirm that resolves the issue for the two templates mentioned. I'll comment on the other issue if I see any regressions with other templates or find other problematic ones.

Thank you for responding so quickly!

[2017-08-16 20:51] betson commented on #155
@earwig I have found a few more templates where the updated code has trouble with formatting. This is similar to the behavior I described in #185:

1. [Randolph County, Indiana](https://en.wikipedia.org/wiki/Randolph_County,_Indiana)
There's an extra `|` after the name of the infobox. My guess is that's the problem here.
[code]

2. [Catron County, New Mexico](https://en.wikipedia.org/wiki/Catron_C

[2017-09-17 19:33] JJMC89 opened #186 "Template incorrectly parsed resulting in truncated parameter value"
In [this revision](https://ru.wikipedia.org/w/index.php?oldid=87690849&action=edit) of [ru:Template:Магнитогорск — Тобол](https://ru.wikipedia.org/wiki/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD:%D0%9C%D0%B0%D0%B3%D0%BD%D0%B8%D1%82%D0%BE%D0%B3%D0%BE%D1%80%D1%81%D0%BA_%E2%80%94_%D0%A2%D0%BE%D0%B1%D0%BE%D0%BB) `{{Маршрутная карта}}`'s `|1=` shows as `\n\\CONTgq\\STR+r~~[[Однопутная система движения|↕]][[Э

[2017-09-18 01:59] JJMC89 commented on #186
This appears to be related to the use of the `{{!}}` magic word.

[2017-09-18 15:49] eggpi opened #187 "Incorrect detection of <ref> tags."
Hi, I'm running into a couple of cases where the parser seems to give incorrect results for filtering `<ref>` tags. The specific pages I'm looking at are:

https://en.wikipedia.org/wiki/List_of_German-speaking_Academy_Award_winners_and_nominees
https://en.wikipedia.org/wiki/List_of_French_marquisates

Note how the former has 2 <ref> tags, and the latter only has one. However, using `filter_tags('r

[2017-09-19 04:51] earwig commented on #187
This one is a little strange. You want `filter_tags(matches=lambda t: t.tag == 'ref')`.

The filter_* methods don't take positional arguments, so Python helpfully has you calling `filter_tags(recursive="ref")` which just ends up returning a list of every tag in the page, recursively.

[2017-09-19 04:51] #187 closed

[2017-12-31 13:23] Larivact opened #188 "Why is Tag.tag Wikicode and not str?"
As far as I am aware Tag.tag cannot contain any markup.

[2017-12-31 19:59] earwig commented on #188
It's not something you would expect to see very often, but things like this are valid:

`<{{text|b}}>hello</{{text|b}}>`

See [here](https://en.wikipedia.org/wiki/User:The_Earwig/Sandbox#Markup_in_tag).

[2017-12-31 19:59] #188 closed

[2018-02-01 18:58] rexdouglass opened #189 "Keys and Values for inline wipiedia data templates? e.g. {{Birth date|1993|2|4|df=yes}}"
I've parsed all of the infoboxes using mwparserfromhell from the english xml dump. Many of the values contain inline wikidata templates, e.g. {{flagcountry|ITA}} , {{Birth date|1993|2|4|df=yes}}.

I haven't found a dataset of the templates yet, just wikipedia descriptions and these kinds of descriptions
https://en.wikipedia.org/w/index.php?title=Template:Flagcountry&action=edit

Does this tool han

[2018-02-07 02:13] earwig commented on #189
Unfortunately, we don't have any specific handling for this. There really isn't a standard way to do it; the closest thing might be TemplateData, as seen [here](https://en.wikipedia.org/wiki/Template:Flagcountry/doc#TemplateData), but that's intended for the Visual Editor and you would still need to find the corresponding TemplateData for a particular template yourself and work out how to parse it

[2018-02-07 02:28] rexdouglass commented on #189
Sure, thanks for the feedback.

I'm parsing values in infoboxes and mapping them to wikidata or other downstream ontologies.

About 20% I'd say of the values are locked in these specific TemplateData formats, which as far as I can tell are meant to be read only by Lua scripts in a specific mediawiki extension.

I can find human readable documentation for many but not all of these templates. I find

[2018-02-07 03:09] earwig commented on #189
That's an interesting problem, and it sounds like an accurate assessment of the situation.

I wrote a bit more of an explanation here, but I saw danmichaelo/mwtemplates#7 and realized there is a lot of overlap between that conversation and what I was going to post. Long story short, Wikipedia definitely suffers from a lack of structured data where you would expect it to be. Wikidata is the main at

[2018-02-07 03:09] #189 closed

[2018-02-08 21:58] rexdouglass opened #190 "Parse stalls out with an example"
I've parsed most of wikipedia successfully using mwparserfromhell.parse (called from R using Reticulate)

I've discovered one article that causes parse to hang forever.

I'm including it here below in case it's an edge case that is interesting. Maybe there's some weird recursion in the templates.

The text block from "[Virginia Constitutional Convention of 1829–1830" ](https://en.wikipedia.org/wik

[2018-02-10 03:13] earwig commented on #190
Thanks for the report. From a quick test, this doesn't seem an infinite loop, but the parser getting stuck in very deep recursion (as you pointed out). The parser is supposed to have a mitigation for this, so something's definitely going wrong. I'll look more carefully later.

[2018-02-21 22:28] kireet commented on #190
I've noticed the parser stalling out parsing the source of https://en.wikipedia.org/wiki/NATO_Joint_Military_Symbology

is this the same issue?

[2018-02-25 05:42] earwig commented on #190
@kireet, yes, looks like it. They both have HTML tags within table cells with unclosed attributes that the parser is choking on. (`<div style="foo”>` in the first case—note the invalid right fancy quotation mark, and `<span style="foo>` in your case.)

I'm currently working on this.

[2018-02-25 07:35] #190 closed

[2018-02-25 07:36] earwig commented on #190
Fixed in 86c805d.

[2018-02-25 19:59] harej opened #191 "strip_code() does not remove interwiki/in other language links"
Test case is this bot user page on Hungarian Wikipedia: https://hu.wikipedia.org/wiki/Szerkeszt%C5%91:HerculeBot?action=raw

To reproduce:
[code]

Actual behavior:
[code]

Expected behavior:
No content is returned, seeing as the page just consists of a template and many interwiki links meant to populate the "in other languages" menu and not the article body, and should therefore be filtered out by

[2018-02-26 03:09] earwig commented on #191
This is the same underlying issue as #136, with many of the same difficulties. I'm going to merge it into that one.

[2018-02-26 03:09] #191 closed

[2018-02-27 17:41] harej commented on #136
I've noticed problems with strip_code() and filtering HTML tags as well.

Based on <https://de.wikipedia.org/wiki/User:FNBot?action=raw>:

[code]

I do:
[code]

As far as I know, that HTML spam should not be in there. Is that problem related to the problem documented in this Issue? Is this a different problem? Is this the intended behavior?

[2018-02-27 21:33] Riamse commented on #136
What you see is the intended behaviour. The HTML tags are imbalanced in your code sample, so mwparserfromhell treats the offending segment as just text.

A real library like lxml would simply fix the imbalanced tags for you, for comparison. But mwparser doesn't because we require parsing not to transform the text, i.e. you can take the output of `mwparserfromhell.parse(...)` and copy-paste it back

[2018-03-03 01:45] kireet commented on #190
great! Are you going to release it to pypi?

[2018-03-03 19:19] earwig commented on #190
Done.

[2018-03-22 13:13] DavidAriel opened #192 "Parser gets wrong nodes when italic ends before apostrophe"
For version  0.5.1
For example, see [Apollo 11](https://en.wikipedia.org/wiki/Apollo_11) English wiki page.
The text : ''Eagle'''s upper stage
Should look like: _Eagle_'s upper stage
i.e. the Eagle is an italic tag node, and the rest of the text is another node.
Currently the code looks for the next '' in the wikitext and ignores the nearby double appostrophe ('') since it seems like a three apost

[2018-03-22 13:50] #192 closed

[2018-03-24 09:30] Alexey-T opened #193 "Example: convert Mediawiki to HTML?"
Pls give an example to convert mediawiki text to HTML?
I cannot find ok example in all other libs for Python3.

[2018-03-24 09:34] Alexey-T commented on #193
i see #161.

[2018-03-24 09:34] #193 closed

[2018-08-17 17:04] lahwaacz commented on #100
I'm working on this for my [wiki-scripts](https://github.com/lahwaacz/wiki-scripts/) project - see the [ws.parser_helpers.template_expansion](https://github.com/lahwaacz/wiki-scripts/blob/master/ws/parser_helpers/template_expansion.py) module and the accompanying [tests](https://github.com/lahwaacz/wiki-scripts/blob/master/tests/parser_helpers/test_template_expansion.py). The main function, `expan

[2018-08-24 07:52] lahwaacz opened #195 "How to efficiently iterate over and replace nodes?"
Consider the following problem: we want to replace all templates in a wikicode with their first argument. (This is basically a very simplified template expansion problem (#100) which I'm working on.)

The obvious way to solve this is this code:
[code]

However, it is _very_ inefficient if you run it on a moderately complex real-world wiki page like [Wireless network configuration](https://wiki.arc

[2018-08-24 10:03] lahwaacz commented on #195
Got some progress with custom `ifilter`-like functions. First attempt:
[code]

Which performs like this:
[code]

And second attempt:
[code]

Which is more than 10 times faster than the original: :wink:
[code]

[2018-08-27 13:26] lahwaacz opened #196 "Wrong parsing of an URL with empty hostname"
Consider this wikicode:
[code]

MediaWiki parses this as a plain text, but mwparserfromhell gives an invalid URL (`http://`) plus plain text (`>hostname</phpMyAdmin/`):
[code]

I guess the parser should check if there is at least one valid character after `http://`...

[2018-08-27 14:33] lahwaacz opened #197 "Wrong parsing of an URL preceded by some non-whitespace characters"
MediaWiki parses the text `svn+ssh://server.domain.com:/reponame` as a text `svn+` followed by an external link `ssh://server.domain.com:/reponame`, whereas mwparserfromhell does not recognize the external link at all.

There is the same problem with other punctuation characters like `.?!()"` or characters like `：` which can be found in Chinese texts.

[2018-08-28 11:07] lahwaacz opened #198 "Multiple equal signs in a template are wrongly parsed as parameter name/value separator"
Consider this wikicode:
[code]
After template expansion, using "Template:Echo" containing just `{{{1}}}`, MediaWiki parses it as
[code]
I.e. everything between the `|` and `}}` is interpreted as one template parameter.

But mwparserfromhell parses it like a named parameter `foo` with the value `= section ==\nbar`:
[code]

Note that this behaviour is wrong only for named parameters, numbered parame

[2018-08-28 11:37] lahwaacz commented on #198
On a related note, mwparserfromhell parses URLs containing equal signs (`=`) inside templates differently depending on whether they are enclosed in brackets or not:
[code]

This is also wrong, MediaWiki parses template parameters before external links, so it goes with the named parameter in both cases.

[2018-08-28 12:39] earwig opened #199 "Survey: Drop support for Python 2.6, 3.2, 3.3?"
I would like to consider dropping support for EOL'd versions of Python in the next release.

This would reduce the testing complexity and some code paths could be cleaned up, but it's not a substantial savings, so I'd only like to do it if I can confirm that no one out there is relying on this.

Survey: are you or anyone you know still using Python 2.6, 3.2, or 3.3, and are unable to upgrade (due

[2018-08-28 15:34] lahwaacz commented on #197
May be related: MediaWiki treats `"http://foo"` as a URL, but mwph doesn't, and conversely, MediaWiki does not treat `http://"foo"` as a URL, but mwph does.

[2018-08-28 17:42] legoktm commented on #199
Pywikibot dropped support for Python 2.6 and 3.3 in April, so no issues from us :).

The main reason we kept 2.6 support for so long was for a few RHEL 6 users but IIRC they upgraded or moved away so we no longer had any real 2.6 users.

Is it possible to get download stats from PyPI?

[2018-08-28 23:13] legoktm opened #201 "Automate keeping definitions.py in sync with MediaWiki"
We should probably have a script of some kind keep definitions.py and definitions.c in sync with MediaWiki to prevent it from getting out of date.

[2018-08-29 02:36] earwig commented on #199
I don't think so, and even then, not sure how useful that would be. We don't build non-Windows wheels (though that will change in the next release), so we can only gather Windows data, and Appveyor already doesn't support 2.6 and 3.2, so we can't even get data for those version...

Yeah, I'm probably going through with this unless someone has an objection.

[2018-08-30 04:16] mzmcbride opened #202 "Mismatched italics syntax causes template filter to fail sometimes"
When there's mismatched italics syntax, the `.filter_templates()` method fails to properly parse the page sometimes.

Sample script:

[code]

Of note: `  |FullName=''[[et vir]]'` is mismatched in the first case and the third case.

Current buggy output:

[code]

Expected output:

[code]

[2018-08-30 07:36] lahwaacz commented on #202
Duplicate of #40. Use `mwparserfromhell.parse()` with `skip_style_tags=True` as a workaround.

[2018-08-30 08:06] lahwaacz opened #203 "URLs containing an IPv6 address are not parsed"
MediaWiki allows URLs containing an [IPv6 address in square brackets](https://en.wikipedia.org/wiki/IPv6_address#Literal_IPv6_addresses_in_network_resource_identifiers).

[2018-08-31 02:46] #202 closed

[2018-09-01 15:11] hugovk commented on #199
Yes, it is, for example using https://github.com/ofek/pypinfo.

Here's the pip installs for mwparserfromhell from PyPI for **January** 2018:

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |  42.12% |          1,488 |
| 3.6            |  16.22% |            573 |
| 3.5            |  12.06% |            426 |
| 3.4            |  10.16% |

[2018-09-26 18:15] hugovk commented on #199
Please see PR https://github.com/earwig/mwparserfromhell/pull/204.

[2018-09-27 01:43] #199 closed

[2018-09-30 13:52] onei opened #205 "Add ability to iterate over parameters as key-value pairs"
Sorry if this is already available, although I didn't see any mention of it in the documentation.

I think it would be nice to do something like the following:

[code]

[2018-09-30 14:31] lahwaacz commented on #205
Mapping MediaWiki template parameters to key-value pairs like in Python dicts is difficult, because there may be multiple parameters with the same key.

[2018-09-30 19:41] earwig commented on #205
I'm not really clear why you need this. Usually it's sufficient to either look up specific parameters by name using `template.get(name)`, or iterate over the list of all parameters using `template.params`. E.g., your example can be written as:

[code]

Like lahwaacz says, that might result in duplicates, so If you really need a dict, you can do something like this:

[code]

We could certainly make

[2018-09-30 22:00] onei commented on #205
I hadn't considered duplicate parameters, which might complicate such things. However, I would expect `.get(parameter)` to return a single value, i.e. the value that actually ends up being used.

My use case is for extracting data from a template that is being used to construct a database. Essentially, the template holds a set of properties that we're converting into historical data. There's somet

[2018-10-01 04:01] earwig commented on #205
Yep, that's what `.get()` does.

Well, my point is kinda that you can use the dict comprehension as a "setup" line to remove any duplicates and then iterate over the dict for further processing as you desire. But depending on how exactly the code looks, normal iteration over the param list should have basically the same effect.

[2018-10-12 15:40] halfak opened #206 "parse loops infinitely and prevents SIGNAL-based timeouts"
I've run into a revision in Spanish Wikipedia that causes `parse()` in version 0.5.1 to loop infinitely *and* prevent signal-based timeouts from interrupting the call after a timeout.  The same revision causes an infinite loop in `parse()` of 0.5.0, but it can be interrupted with a signal-based timeout.

See code for reproducing the issue here:
[code]

[2018-10-12 15:44] halfak commented on #206
It's also worth noting that the 0.5.1 run of this script will result in a process that cannot be killed with "kill -15 <pid>"   I've only been able to kill it with "kill -9 <pid>".

[2018-10-12 17:07] halfak commented on #206
I've just run some tests on different distributions.  I've confirmed that the above demo script works with the signal timeout in v0.5 with Ubuntu 16.04.  But the signal timeout doesn't work in v0.5 in Debian Jessie 9.3.

[code]

[code]

It looks like this is because the compile for 0.5.0 fails on Ubuntu 16.04 and there's a fallback to a pure python implementation.

[code]

The compile for 0.5.1 di

[2018-10-12 18:57] legoktm commented on #206
If Python.h is missing, that means you need to install the `python3-dev` package.

[2018-10-12 21:13] halfak commented on #206
Right.  I've installed that and tested and now 0.5.0 gets stuck and is not interrupt-able too.

[2018-10-12 23:21] Riamse commented on #206
What's the content of the page that it hangs on?

[2018-10-13 08:07] akosiaris commented on #206
That would be https://es.wikipedia.org/w/index.php?title=Usuario:Danielalfredo/Taller&oldid=111186880&action=raw

Something of note to add to this (and that actually caused me pain in trying to reproduce this) is that adding a single newline character (`\n`, utf8 hex `0a`) at the end of file causes this to be parse-able (in a pretty long time on my tests, > 3secs but still parse-able)

[2018-10-14 04:55] earwig commented on #206
This is perplexing—I can't find that revision of that page. I only see 111245451 and 111245482, and both of them parse fine, as far as I can tell.

[2018-10-14 06:32] earwig commented on #206
There are two issues here: the trapping-SIGINT issue and the parsing issue.

The former fortunately has an easy fix. Python traps SIGINT and some other signals so it can convert them into Python exceptions, but since we're getting stuck in C code, we never have a chance for that to bubble out. We were simply missing a call to [PyErr_CheckSignals](https://docs.python.org/3/c-api/exceptions.html#c.P

[2018-10-18 03:37] earwig commented on #206
@halfak Apologies for the delay, I hoped to get it out earlier. A bit swamped at the moment, but will try to do it soon. BTW, you can set `mparserfromhell.parser.use_c = False` as an emergency fix to avoid C if that is at all useful.

[2018-10-30 07:08] Arfrever opened #208 "Incompatibility with Python 3.7"
[code]

The code is actually broken with all versions of Python. Older versions just silently tolerate it.

In `mwparserfromhell/parser/ctokenizer/tokenizer.c`, `load_entities` function contains:
[code]
So `defmap` is actually `entitydefs` attribute in `ENTITYDEFS_MODULE`.
`mwparserfromhell/parser/ctokenizer/tokenizer.h` has:
[code]
So with Python 2, `defmap` is `htmlentitydefs.entitydefs`, while

[2018-10-30 07:13] Arfrever commented on #208
Fix for this error:
[code]

[2018-11-01 05:19] earwig commented on #208
Thanks for catching this. Apparently Python compiles extensions (in my environment) with `-DNDEBUG`, so the assert wasn't triggering, and apparently `PyList_GET_SIZE()` works on dicts for some reason.

It should have been `PyList_GET_SIZE(deflist)`, because the reference to `defmap` is dropped by that point.

[2018-11-01 05:24] ghost opened #209 "Rewrite in Rust"
Petition to rewrite the C tokenizer in Rust.

[2018-11-01 06:09] earwig commented on #209
https://github.com/ansuz/RIIR

[2018-11-01 15:31] halfak commented on #206
Hi @earwig.  We've worked out that in some cases, the pure-python parser is too slow, so we're still waiting on a new release for our deployment.  Do you think you could get it out soon?

[2018-11-01 16:32] earwig commented on #206
Apologies again. I’ll do this tonight when I get home from work.

[2018-11-01 17:10] xreader opened #210 "AttributeError: module 'mwparserfromhell' has no attribute 'parse'"
Using example from readme i get this error message

[code]

here is code snipet

[code]

[2018-11-02 02:40] earwig commented on #210
You haven't installed the parser correctly. Is it possible you downloaded the git repo to your current directory? It seems Python might be trying and failing to import it from there directly.

You'll either need to install it with pip (`pip install mwparserfromhell`, possibly with `--user`), or run `python setup.py install` inside the project (again, possibly with `--user`) to install directly fro

[2018-11-02 04:10] earwig commented on #206
It's still my job to maintain the parser, just not my day job :P

OK, I released 0.5.2. I'll leave this issue open until I fix the table parsing issue.

[2018-11-02 06:41] xreader commented on #210
Thanks

the problem was that the library was installed  with```python setup.py install``` but run with python3 command

[2018-11-02 06:41] #210 closed

[2019-01-02 14:44] lxylxy123456 opened #211 "Templates with unbalanced '<' or '>' inside not parsed correctly"
For example, the parser parses `{{#expr:8<2}}` as a single string. If the `<` is removed, it parses correctly.
To reproduce this issue:
`>>> import mwparserfromhell`
`>>> mwparserfromhell.parse('{{#expr:8<2}}').nodes[0]`
`'{{#expr:8<2}}'`
`>>> type(_)`
`<class 'mwparserfromhell.nodes.text.Text'>`
`>>> mwparserfromhell.parse('{{#expr:82}}').nodes[0]`
`'{{#expr:82}}'`
`>>> type(_)`
`<class 'mwparser

[2019-02-04 18:09] Larivact opened #212 "Error when attempting to replace or remove content of empty section"
[code]

results in
[code]

[2019-02-12 03:50] RheingoldRiver commented on #211
This is also a problem with unbalanced ''' in a parameter name

[2019-02-12 04:38] earwig commented on #211
@RheingoldRiver – see #40.

[2019-02-13 13:34] earwig commented on #212
Thanks, the implementation of this function for Wikicode objects seems completely wrong. I'll fix it.

[2019-02-18 00:17] #212 closed

[2019-02-21 18:29] lahwaacz opened #213 "Error when replacing the whole section's content"
The following code used to work before https://github.com/earwig/mwparserfromhell/commit/840a88bcd674fcfef1488558b01c69efb72aad4d (the fix for #212) which seems to have broken it:
[code]

[2019-02-24 00:08] #213 closed

[2019-02-27 15:34] Larivact opened #214 "Error when filtering after inserting initialized node"
[code]
results in
[code]

[2019-02-28 02:07] earwig commented on #214
This is tricky. Constructing nodes directly like that isn't something I've considered and doesn't work because Tag expects its name to be passed as a Wikicode, not a raw str. The standard way to do this would be `tag = "<bar></bar>"; code.append(tag)`.

I'm not sure whether the solution to this is supporting manual node construction in general (i.e., nodes need to run parse() over their args...),

[2019-02-28 06:53] Larivact commented on #214
Thanks for your quick reply and explanation! The use case I had was inserting a template if it doesn't exist and having immediate access to it.

[code]

When constructing nodes manually, I would expect raw strings to be treated as Text and not parsed automatically, which would amount to something like this in `Tag.__init__`:

[code]

[2019-03-01 03:00] earwig commented on #214
That's a reasonable use case. I think we can support this.

[2019-03-03 02:25] #214 closed

[2019-03-03 02:25] earwig commented on #214
I decided not implement it this way because then it's easy to manually construct nodes such that `mwp.parse(str(code)).get_tree() != code.get_tree()`, which is something I try avoid.

The rest seems to work as expected.

[2019-03-07 09:28] Larivact opened #215 "Adding table cell attribute does not add pipe"
[code]
output:
[code]
expected output:
[code]

[2019-03-13 03:59] earwig commented on #215
A proper fix for this will involve reworking how wikicode-style tags are represented in the tree structure. I don't think it will be especially difficult, but it will be a breaking change.

[2019-03-13 04:12] earwig commented on #211
The original problem in this issue is related to lack of support for parser functions, I think. We treat "#expr:8<2" as a template name and reject it because < cannot be in a page title. We would want to loosen validation on templates that look like parser functions, but I'm not sure how to actually decide this without other information; checking for the name starting with "#" is insufficient beca

[2019-03-31 02:50] earwig commented on #206
Finally figured this out. Of course, the solution ended up being somewhat trivial.

[2019-03-31 02:50] #206 closed

[2019-04-09 08:27] t-karcher opened #216 "template.name.matches('...') should treat underscores like blanks"
I just noticed that
`wikicode.filter_templates(matches = lambda n: n.name.matches ('Infobox_Country'))`
matches
`{{Infobox_Country}}`
but not
`{{Infobox Country}}`
although both are referring to the same template. It'd be helpful if the matching algorithm would be adapted to match both variants.

[2019-04-09 13:08] earwig commented on #216
This seems reasonable to me.

[2019-04-10 21:32] kireet opened #217 "Infobox not included in template"
I am looking for a simple way to extract the first paragraph of the first section from wikipedia pages. I tried to get the first section and process the text/link nodes of that section, but it doesn't seem to work reliably. E.g (using the `parse` method from the readme):

[code]

prints
[code]

the infobox template also doesn't seem to be returned by `filter_templates`?
`print([t.name for t in p.f

[2019-04-26 13:54] suhassumukhv commented on #139
@earwig But given `wikitext` as `#REDIRECT [[Tom Hanks#Personal life]] {{Redirect category shell|1= {{R from son}} {{R to section}} }}` ([Chet Hanks](https://en.wikipedia.org/w/index.php?title=Chet_Hanks&redirect=no)), do you identify this as a Redirect syntax?

[2019-04-27 00:55] earwig commented on #139
@suhassumukhv Currently no, but we will in the future (it's been an open issue for a while: #10)

[2019-04-30 11:52] suhassumukhv commented on #93
Have the wiki `table` manipulation methods been updated? Documented? Is the same situation for lists?
I was looking at methods that can access individual table cells or list elements.

[2019-04-30 12:03] suhassumukhv commented on #10
@earwig Have you considered adding lists as well? It's quite an important part of wiki markup.

[2019-04-30 12:47] earwig commented on #10
Lists are already supported.

[2019-04-30 13:17] suhassumukhv commented on #10
@earwig Is there any supporting documentation?
I tried it this way,

[code]
Supporting wikitext was taken from [Tom Hanks](https://en.wikipedia.org/wiki/Tom_Hanks)

[2019-04-30 13:23] clokep commented on #10
@suhassumukhv You're running into #46, essentially the content of a list isn't part of the same tag. This was a design decision (according to that issue).

[2019-04-30 13:28] earwig commented on #93
The only methods we currently have for this are the normal HTML tag traversal methods. What you want to do should be possible with those, but it’s not ideal. I would like to add more tailored things in the future, but this hasn’t happened yet.

[2019-04-30 13:33] suhassumukhv commented on #10
@clokep Then there's certainly no way to access the list content, is there?

[2019-04-30 13:37] earwig commented on #10
I don’t think characterizing it as a design decision is strictly correct; while it was indeed a choice to make the original implementation easier, it’s still a bug I think we should fix.

I had also forgotten the context in that ticket. Reading over it again, I think there might have been a change in how MediaWiki handles some classes of invalid markup since I wrote the original version of the par

[2019-04-30 13:40] earwig commented on #10
In #46, there is a code snippet that might do what you want. I’m not sure how well it works.

[2019-05-05 06:36] TheSandDoctor commented on #93
I would also second a feature like this.

[2019-06-07 09:04] ananth1996 opened #218 "Problem with sections from RfA pages"
I'm trying to parse the sections from RfA pages such as https://en.wikipedia.org/wiki/Wikipedia:Requests_for_adminship/7. Using the get_sections() seems to always return 1 even if I use `skip_style_tags=True` . Is there any fix for this? The `filter_headings()` functions returns all the headings?
I want to parse the Support, Oppose and Negate votes. Is there any better way to do this in python?

[2019-06-09 19:17] earwig commented on #218
Hi @ananth1996,

The issue is basically that the entire RfA content is inside a <div> tag, and get_sections() expects headings to be nodes at the top level of the wikicode. Since all headings are inside that <div>, it considers the entire page to be one section.

Here's a cheap workaround:

[code]

I'll think more about a way to fix this inside the parser.

[2019-06-10 08:06] ananth1996 commented on #218
Thank you for the workaround, it is working properly.
I also wanted to ask if there is any way particular way to iterate through list items such as some methods in `wikitextparser`?. I am also looking to extract the user signature at the end of every vote and was wondering if there is a template or general regex pattern already available in some parser.
Thanks in advance.

[2019-06-10 11:42] earwig commented on #218
I don’t think there’s a good built-in way to do that, unfortunately. You would need to do some manual node iteration. For example: for each unnested li tag, find the last wikilink to a user page or user talk page before the next li tag. Something like that might work.

[2019-06-30 04:38] earwig commented on #217
Sorry this took a while to get a response.

The template is missing in this case because there's a syntax inconsistency with a bold tag (see #40). You can work around this with `parse(text, skip_style_tags=True)`.

To solve your original question, you can try something like this:

[code]

That would give the first paragraph as a string, with formatting removed. (If you want it as pure text, withou

[2019-06-30 04:57] #216 closed

[2019-08-09 04:37] nyurik opened #220 "intelliJ IDEA crashes when trying to preview a smart list"
When stepping through my [wiktionary parsing code](https://github.com/nyurik/lexicator), I often try to look at the `Wikicode`'s `nodes` element, and almost always IDE shows an error instead of allowing me to view that data.

Example - set breakpoint in the Parser.py 's run() method right after `code = mw_parse(...)`, and examine the `code` variable.  Easiest way to start is run the code with `--p

[2019-10-14 06:58] legoktm opened #221 "Drop Python 2 support"
[I dropped Python 2 support downstream in the Debian package earlier today.](https://tracker.debian.org/news/1071586/accepted-mwparserfromhell-054-2-source-into-unstable/)

We should drop support for Python 2 on/before the clock runs out: https://pythonclock.org/

[2019-10-14 13:06] earwig commented on #221
My plan is to drop it in the first release of 2020.

[2019-11-15 22:16] RheingoldRiver opened #223 "template.name.matches ignore Template: in the name?"
Could matches method function strip "Template:" from the name of the template before checking?

[2019-11-16 21:22] earwig commented on #223
This is a good idea, and we should fold it into the other planned work to recognize localized namespaces (e.g. to recognize [[File:]] links).

[2019-11-25 19:01] halfak opened #224 "ParseError: C tokenizer exited with non-empty token stack."
See example script below that demonstrates the issue on a specific revision ID from English Wikipedia.

[code]

[2019-11-26 04:45] earwig commented on #224
I don't know what's going on yet, but I've managed to reduce the example to this mess:

[code]

[2019-12-06 06:06] earwig commented on #224
Finally figured it out.

[2019-12-06 06:06] #224 closed

[2019-12-31 03:52] nyurik opened #226 "Incorrect SmartList slicing"
The slice operation for the smartlist is incorrectly handled (inconsistent with the built-in python lists). This results in IDE crashes when I tried to examine internal variables, and could also cause people's code to behave incorrectly:

[code]

It seems the internal slice is not clipped to the size of the smartlist, thus resulting in an error. I am not sure of the logic -- it does something magi

[2019-12-31 16:35] nyurik commented on #226
I created a PR with several new unit tests to highlight related smart-list problems.  The PR is obviously not passing because the PR does not actually change smart  list code, only the unit tests.

How should we proceed?  Please confirm these are the real bugs. Thx!

[2019-12-31 17:55] nyurik commented on #220
The issue was traced to incorrect slicing + iteration handling in smartlist. Closing in favor of #226

[2019-12-31 17:55] #220 closed

[2019-12-31 18:15] nyurik commented on #100
I also hacked together a recursive template expander as part of [wiktionary parsing code](https://github.com/nyurik/lexicator/blob/151aa1069b3c0bb369213430794c0ba34f4bfcf2/lexicator/tokenizer/TemplateParser.py) (lexicator creates Wikidata lexemes), but due to Lua usage and complexity, I am beginning to reduce its usage in favor of asking MediaWiki to do this work for me using `action=parse` ([code

[2020-01-02 03:54] nyurik opened #229 "C tokenizer exited with non-empty token stack bug"
One one of the test runs, I got this error, and haven't seen it on several subsequent runs. Seems like there might be a timing bug lurking somewhere, so recording it here for the future.  I got it while refactoring smartlist using 3fcbe7b , so it (in theory) shouldn't have triggered it either.

`mwparserfromhell.parser.ParserError: This is a bug and should be reported. Info: C tokenizer exited wit

[2020-01-03 20:17] RheingoldRiver opened #231 "Option to remove comments from template values"
I'm not sure the best way this could be implemented, but in the past I've run into issues where a template value has a comment in it, and I want to compare just the value, ignoring the comment. My solution has been to do replacement myself to ignore comments, but it would be really nice if the library handled this.

Maybe an option relating to comments on the initial parse? To strip out all commen

[2020-01-03 21:46] lahwaacz commented on #231
There is a more general issue with the abstract tree traversal and replacement (with an empty string in your case) - see #195.

[2020-01-05 10:44] lahwaacz commented on #211
Very similar problem is even with wikilinks:

[code]

Is it because `<` is rejected because it cannot be in a page title? #40 does not seem to be the culprit, because the unbalanced `<` does not cause problems when it is in the text part.

[2020-01-06 04:06] earwig commented on #211
I'm pretty sure it's because `<` can't be in a page title; mwparser doesn't know that the fragment (the part following `#`) has different allowed characters...

[2020-01-07 03:07] earwig commented on #231
I don't generally like adding options to the initial parse (there is only one right now, and it's there as a bug workaround), so if the existing behavior is insufficient, my preference would be for an easier way to express this in the wikicode object. Two ideas come to mind:

- An easier way to remove all comment nodes from the template values after parsing, which might require fixing #195 if ther

[2020-01-07 03:13] RheingoldRiver commented on #231
Hmm, yeah I think having `matches` ignore comments and work on param names/values as well would be sufficient to fix every issue I had - would that work?

[2020-01-08 01:31] earwig commented on #231
Hold on, did you mean [Wikicode.matches](https://mwparserfromhell.readthedocs.io/en/latest/api/mwparserfromhell.html#mwparserfromhell.wikicode.Wikicode.matches) or am I getting mixed up? That should already ignore comments.

[2020-01-08 01:35] RheingoldRiver commented on #231
Oh, I didn't realize matches already ignores comments. In that case, when I want to ignore comments I'll use matches method. Can you add a note that it ignores comments to the docstring?

[2020-01-08 03:07] earwig commented on #231
Thanks, I'll update it. (I hoped it was made clear by "Specifically, whitespace and markup is stripped" but I can understand how that is ambiguous.)

[2020-01-13 04:27] #221 closed

[2020-02-02 23:19] RheingoldRiver opened #238 "Suggestion: Offer a setting to offset MW param numbers to be 0-indexed"
A source of constant mild annoyance is that Python's 0-indexing disagrees with MW params' 1-indexing - I know you mentioned not wanting to add settings to parse, but what about the possibility to treat params as being 0-indexed, and internally doing all of the +1 translations as needed? So e.g. if I did `for i in range(n): template.add(i, template_data[i])` then it would add the correct parameters

[2020-02-03 02:17] earwig commented on #238
What about a case where template params are reordered, like `{{foo|3=a|2=b|1=c}}`? Would you expect `template.get(2).value` to yield `a`?

[2020-02-03 07:35] lahwaacz commented on #238
When you work with [sys.argv](https://docs.python.org/3/library/sys.html#sys.argv), the program arguments are actually 1-indexed (`sys.argv[0]` is reserved for the program name). Is it annoying? Maybe, but much more important is Python's consistence with the behaviour of other low-level languages and operating systems. Likewise, mwparserfromhell is consistent with MediaWiki itself.

Anyway, there

[2020-02-03 18:42] RheingoldRiver commented on #238
Yes. Though perhaps with a warning?

Well, part of the reason this came up is that there's discussions of adding JS support to Scribunto, and I've always been opposed to that because I think the convenience of Lua's 1-indexing matching MediaWiki's is extremely important. Everyone I've mentioned this to has immediately said "well just reindex params when you access them inside a Scribunto script" -

[2020-02-03 22:28] talalmts commented on #46
Is there a workaround to ignore/get the content of the List in wikicode as shown in [#10 ](https://github.com/earwig/mwparserfromhell/issues/10#issuecomment-487948007)

[2020-02-11 04:36] #170 closed

[2020-02-23 13:33] lahwaacz opened #241 "wikicode.ifilter does not seem to work correctly when nested adjacent nodes are removed during iteration"
Consider a simple case where 4 adjacent templates are iteratively removed inside the `ifilter` loop:

[code]

As expected, the loop has processed all 4 templates. However, if the templates are nested inside some other node, every template which follows a removed template is skipped:

[code]

[2020-02-25 18:07] rijobro opened #242 "determine if page is for a person or not."
I'd like to be able to return true for Barack Obama's page, and false for Youtube's page. How would I go about doing that? Presumably, different templates are used for people compared to others.

My current tactic searches the infobox for the presence of a date of birth, but this seems ugly.

[2020-02-25 18:12] lahwaacz commented on #242
This is not the task of a wikitext parser which has no idea about the semantic usage of site-specific elements like templates or categories.

[2020-02-25 18:34] rijobro commented on #242
ok, thanks

[2020-02-25 18:34] #242 closed

[2020-02-25 19:44] earwig commented on #242
Wikidata is probably the way to go for this. (Indeed, not the job of the parser.) There is a programmatic API. People should have a property “instance of” “human” I think.

[2020-04-29 00:41] TheSandDoctor opened #243 "filter_tags() or equivalent should include partial tags in its results"
@earwig It would be useful for stripped tag identification if `filter_tags()` or a new equivalent function (like `filter_all_tags()` or something) would also include partial tags in its results. Is this possible?

Currently, `<span color=0000>test</span><font color=red>` will not find `<font color=red>` as it isn't closed.

I foresee this change potentially happening through the following sequence

[2020-06-10 10:52] mrkowalski opened #244 "How to get a node range in a section?"
Is this possible to get a range of nodes that will still have all the methods of a section? In other words, to get a subset of a section that is still a section? :) How?

If not, this is a feature request.

[2020-06-15 15:38] earwig commented on #244
Sorry for the delay replying. Yes, this is a possible. You can select any subset of a Wikicode's node list and wrap it in a new Wikicode object. Changes to one will propagate to the other. For example:

[code]

This can be done recursively as many times as you like. You can also call get_section() on the section returned by get_section(), assuming you want an actual heading-bounded section of a pa

[2020-06-18 09:08] ctrlcctrlv opened #245 "Pretty printer?"
Is there a pretty printer? If not, should there be one in the default distribution, or is that a job for a third party?

[2020-06-18 10:53] clokep commented on #245
There's the [`Wikicode.get_tree()`](https://mwparserfromhell.readthedocs.io/en/latest/api/mwparserfromhell.html#mwparserfromhell.wikicode.Wikicode.get_tree) method which might do what you want.

[2020-06-18 14:28] ctrlcctrlv commented on #245
Indeed, thanks :-)

For Google, **mwparserfromhell is a Mediawiki pretty printer / beautifier.** 😜

[2020-06-18 14:28] #245 closed

[2020-06-19 21:11] #244 closed

[2020-06-28 07:29] ctrlcctrlv opened #246 "get_tree() could be prettier and more configurable"
First of all, this is a great parser, thanks for writing it.

This is a follow up to #245, which taught me that `mwparserfromhell.wikicode.Wikicode.get_tree` is this library's pretty printer.

It doesn't seem configurable though, and some of its output seems to be overly verbose. That is to say, in an attempt to prettify, perhaps we're making it too pretty, and therefore not pretty. 🤗

Consider th

[2020-06-29 03:05] earwig commented on #246
I agree. I think the best way to reason about this is a concept of the complexity of a (sub)expression. Sufficiently complex nodes are broken up with whitespace, while less complex ones are kept on one line.

[2020-07-07 10:00] lhoestq opened #247 "C tokenizer exited with non-empty token stack"
Hello ! We have a script that processes wikipedia dumps in [our library](https://github.com/huggingface/nlp/issues/321) but recently we faced an [issue](https://github.com/huggingface/nlp/issues/321) about some contents that  couldn't be parsed correctly. I was able to identify the page that causes the issue and reproduce the error using the content from `mwapi`:
[code]

Thank you in advance !

[2020-07-07 16:00] halfak opened #248 "C tokenizer exited with BAD_ROUTE while parsing a page with a lot of tables."
I get an error while parsing https://pt.wikipedia.org/wiki/Lista_de_finais_para_cadeirantes_do_US_Open.  The page has a lot of tables and that might be related.

[code]

[2020-07-22 05:52] earwig commented on #248
This bug was already fixed in master. I'll publish a release (soon).

[2020-07-22 05:52] #248 closed

[2020-07-22 05:54] earwig commented on #247
This bug was already fixed in master. I'll publish a release (soon).

[2020-07-22 05:54] #247 closed

[2020-07-23 15:00] halfak commented on #248
Thank you!

[2020-07-23 16:27] lhoestq commented on #247
Thanks !

[2020-07-28 13:29] john-cherre opened #249 "Different Behavior for Parsing Two Similar Wikipedia Infoboxes"
I have two infoboxes that look exactly the same to me, but I'm getting different behavior in mwparserfromhell. In the first instance I'm getting what I expect - the entire infobox is captured as a template object. In the second instance parts of the infobox are extracted as separate templates. This is confusing since the infoboxes look very similar to me, and I was expecting that the entire infobo

[2020-07-28 13:44] lahwaacz commented on #249
The second infobox is a mess - it has multiple `<ref>` tags which are inconsistently terminated inside a template which started inside the tag. You should probably fix the wikicode itself...

For mwparserfromhell, this is a duplicate of #40.

[2020-08-05 09:52] hasantuberlin opened #250 "Detect all table from a wiki dump"
Hello,
Are there any possibilities to detect table from a wiki dump? I actually did not find documentation on this.

Thank you in advance.

[2020-08-05 14:08] lahwaacz commented on #250
Which wiki dump? mwparserfromhell is a parser of MediaWiki markup, not of XML dump files.

[2020-08-05 17:40] lahwaacz commented on #241
I guess I just need to replace the node with a dummy text (`mwparserfromhell.nodes.text.Text("")`) instead of removing the node completely from the AST.

Still, it would be nice if the `ifilter` method was improved so that this is not necessary, or at least if this was documented somewhere. I'll leave the issue open for your judgement.

[2020-08-05 17:42] hasantuberlin commented on #250
Thank you.
In case of MediaWiki markup. How can I do it?

[2020-08-05 17:47] lahwaacz commented on #250
See https://github.com/earwig/mwparserfromhell/issues/93.

[2020-08-09 12:43] lahwaacz opened #251 "#if: magic word is not parsed correctly when tags are inside the argument"
Consider this wikicode:
[code]
The `{{#if:` magic word was clearly not parsed correctly, it is part of the surrounding text. It is probably because mwparserfromhell parses it as a regular template and tags are not allowed inside template names. However, MediaWiki allows tags inside the `{{#if:` magic word.

[2020-08-19 17:35] alchimista opened #253 "Exiting due to uncaught exception <class 'MemoryError'>"
Running category_redirect.py on toolforge, with python3, i'm getting the following traceback:
  File "/data/project/shared/pywikibot/stable/scripts/category_redirect.py", line 526, in <module>
    main()
  File "/data/project/shared/pywikibot/stable/scripts/category_redirect.py", line 522, in main
    bot.run()
  File "/data/project/shared/pywikibot/stable/scripts/category_redirect.py", line 495,

[2020-08-19 22:48] legoktm commented on #253
A memory error means you've run out of memory. Try increasing the amount of memory allocated to your job on Toolforge and see if that makes a difference.

[2020-08-20 02:30] Riamse commented on #253
Contributions toward fixing #209 would also help with memory issues!

[2020-08-20 20:29] alchimista commented on #253
@legoktm i've tried that prior to this bug, and even with 750 Mb allocated it still occasionally runs out of memory. Somehow it became memory eager.

[2020-08-23 11:12] legoktm opened #254 "Logo"
It would be nice if mwparserfromhell had a logo.

[2020-09-02 02:04] richardbmx commented on #254
Hello, are you looking for a custom logo for your project? I am a graphic designer and I have made some logos for projects like yours you can see part of my gallery in the following link:  https://www.behance.net/richardcaseres

[2020-09-09 21:22] tbayer opened #255 "Comments missing the closing "-->" are not parsed"
[code]

This is not consistent with [the behavior of MediaWiki](https://en.wikipedia.org/w/index.php?title=User:HaeB/sandbox&oldid=977588422), which recognizes the second comment, yielding "testtest" as the parsed result.

(Reproduced under mwparserfromhell 0.5.4, see also [this Jupyter notebook](https://public.paws.wmcloud.org/User:HaeB/comments/mwparserfromhell%20bug.ipynb))

[2020-09-10 01:04] tbayer opened #256 "Empty comments are not detected"
[code]
(expected instead: `'testtesttest'`, consistent with MediaWiki's behavior, see e.g. [this real-life example](https://simple.wikipedia.org/w/index.php?title=Documents_on_the_Persian_Gulf%27s_name&oldid=7048682))

[code]

(expected instead: `['', '<!--->']`)

[2020-09-10 06:52] lahwaacz commented on #256
@tbayer ``. I think you should fix the source wikicode.

[2020-09-10 07:06] tbayer commented on #256
@lahwaacz There is [ambiguity](https://www.htmlhelp.com/reference/wilbur/misc/comment.html) on whether `<!--->` is valid HTML. But you're right, MediaWiki at least doesn't recognize it as such, and the reason for the inconsistency in the given example is a different one (I abstracted a bit too much here) - MediaWiki ends the comment at the closing </ref> tag, but mwparserfromhell doesn't. I'll upd

[2020-09-10 07:30] tbayer commented on #256
I have updated the example. The bug apparently has to do with the different choices about recognizing and ending a run-on comment at a closing ref tag. Thus it might or might not be a special case of the preceding [issue 255](https://github.com/earwig/mwparserfromhell/issues/255).

[2020-09-10 07:40] tbayer commented on #256
@lahwaacz, to your note about fixing the source wikicode: This seems a bit beside the point, as the issue is about having mwparserfromhell and MediaWiki yield the same result.

(For background: I encountered this problem while using mwp to search for certain kinds of malformed comments so that they can be fixed, in response to a request by editors on English Wikipedia, who had noticed cases where

[2020-09-10 07:52] lahwaacz commented on #256
The problems with overlapping HTML nodes are tracked in the epic issue #40.

[2020-09-12 22:37] tbayer commented on #248
I just encountered the same bug for the same ptwiki page ;)
Looking forward to the new release.

[2020-11-10 04:15] Mark-L6n opened #257 "How to get section title from results of get_sections()?"
What is the best way to get a section title from the results of `get_sections()`?
I can do the following, but it seems there should be a better way:

[code]

[2020-11-10 08:18] Riamse commented on #257
A few comments:

1. `list(s.ifilter_headings())` can be replaced with `s.filter_headings()`.
2. You can make this more concise by using a list comprehension: `[sec.filter_headings()[0] for sec in wikicode.get_sections() if sec.filter_headings()]`

[2020-11-10 10:38] lahwaacz commented on #257
If you want to take the first heading of every section on a page, why don't you just take a list of all headings?
[code]

[2020-11-10 14:11] Mark-L6n commented on #257
Because I need to call functions on the section, such as `filter_templates()`.  AFAIK, you can't do that from a heading.
If from the results of `filter_templates()` you could find out what sections a template is in, that would work, but again AFAIK I don't think that's possible.

[2020-11-10 14:31] earwig commented on #257
`s.filter_headings()[0]` will work fine, and seems pretty clear to me IMO.

If you want to be more concise, you can actually just do `s.get(0)` to get the first node, because the heading will *always* first assuming you passed `include_headings=True` to `get_sections()` (the default). The singular exception is the lead section, with no heading; for that, you should either ignore it with `include_l

[2020-11-10 15:00] Mark-L6n commented on #257
Great, thanks for the advice!

[2020-11-10 15:00] #257 closed

[2020-11-11 21:37] Mark-L6n opened #258 "Is there a way to get MediaWiki lists?"
Is there a way to get [MediaWiki lists](https://meta.wikimedia.org/wiki/Help:List), that would function something like a hypothetical `get_lists()` or `filter_lists()`?
I looked through [smart_list](https://github.com/earwig/mwparserfromhell/tree/develop/mwparserfromhell/smart_list) and [wikicode.py](https://github.com/earwig/mwparserfromhell/blob/develop/mwparserfromhell/wikicode.py) but didn't f

[2020-11-15 03:16] earwig commented on #258
Hi, unfortunately this is not implemented yet. See #46.

[2020-11-15 03:16] #258 closed

[2020-12-08 18:52] matkoniecz opened #261 "newline included in template name"
[code]

outputs

[code]

It has an easy workaround, but it would be nice to have it working immediately.

Though maybe there is reason why it is impossible?

I found https://github.com/earwig/mwparserfromhell/issues/14 that sounds like the same issue and fixed? So maybe this is also fixable?

I looked at https://github.com/earwig/mwparserfromhell/issues?q=template+newline+ https://github.com/earwi

[2020-12-08 18:58] matkoniecz commented on #261
I see the same with template parameters.

[2020-12-08 21:43] lahwaacz commented on #261
This is intentional - when you parse a wikitext don't change it, then `str(wikicode)` should produce the same result as the input string which was parsed.

[2020-12-08 21:47] legoktm commented on #261
What @lahwaacz said. Those objects have a `matches()` function which takes care of whitespace and capitalization differences for you (as explained in the README).

[2020-12-09 01:31] #261 closed

[2020-12-21 09:14] earwig commented on #198
Leaving this open due to the surprising (and somewhat upsetting) external link difference, but the template/heading conflict should be resolved.

[2020-12-21 10:02] #250 closed

[2020-12-21 14:51] #197 closed

[2021-01-02 00:59] kzim44 commented on #211
I've also run into this issue.

[2021-01-10 08:48] lahwaacz opened #263 "Broken setup.py install"
`setup.py install` seems to install only `.py` files directly from `src/mwparserfromhell`, but skips all subdirectories:
[code]
Note that all subpackages (nodes, parser, smart_list) were not installed:
[code]

[2021-01-11 07:13] #263 closed

[2021-01-11 07:14] earwig commented on #263
Thanks. Fixed now, I think. I had removed a setuptools.find_packages() call but apparently it's still needed. I'd like to take this opportunity to complain about how annoying Python packaging is.

[2021-01-11 07:50] lahwaacz commented on #263
Thanks. I also noticed that running `setup.py test` now does not execute any tests anymore (it used to work before pytest). Can you fix it or break it completely if the tests should be run differently?

[2021-01-12 13:44] bfontaine commented on #40
Another weird ones with malformed italics in templates:

[code]

[2021-01-12 14:32] earwig commented on #263
`setup.py test` is apparently deprecated ([source](https://github.com/pypa/setuptools/issues/1684)), but I agree it should either error or work. The latter seemed easier to do than the former, but it does depend on adding a deprecated dependency.

[2021-01-13 10:34] matkoniecz opened #264 "Thanks!"
I just wanted to say "thank you" to all people who made this library, it was [very useful](https://github.com/matkoniecz/osm_wiki_tag_api/blob/master/extract_infobox_data.py) during making systematic improvements to infoboxes on https://wiki.openstreetmap.org/ (detecting missing parameters and producing reports more useful than what categories on wiki could produce).

Hopefully it is OK to make su

[2021-01-13 10:34] #264 closed

[2021-01-13 14:44] earwig commented on #264
You're welcome! No problem.

[2021-02-06 19:41] roysmith opened #265 "Heading node should strip leading and trailing whitespace"
Possibly related to #55?

[code]
prints:

`' Foo '
`

i.e. it preserves the whitespace inside the == marks.  I don't know if that's strictly incorrect, but it's different from what Parsoid does, which is to strip the whitespace:

[code]

[2021-04-04 19:28] SrihariThalla opened #266 "Text node inside Template params shall strip leading and trailing whitespaces"
~~Possibly related to #55 #265~~

[code]

Parsing and filtering the template and extracting the `url` from the template returns whitespace at both ends.

[code]

The URL is not parsed. It returns

[code]

when it should return,

[code]

[2021-04-04 21:42] JJMC89 commented on #266
Strip the value instead of casting it to a string.
[code]

[2021-04-04 21:53] lahwaacz commented on #266
This is about templates, not headings, so those issues are not relevant. mwparserfromhell keeps the whitespace, because serializing the parsed object should give the original wikitext exactly, even whitespace changes should not be there. Calling `.strip()` when you need is just a minor user inconvenience.

[2021-04-05 14:24] SrihariThalla commented on #266
Thanks for your answers!

[2021-04-05 14:24] #266 closed

[2021-04-17 22:27] ramayer opened #267 "Parser misses the infobox on the current Lombardy page (possibly because of a comment in the name?)"
The mwparserfromhell parser is missing some infoboxes, such as the one on the current Lombardy page ( https://en.wikipedia.org/wiki/Lombardy ).

I suspect it's probably because someone put a comment in the infobox 's first field like this:

    {{Infobox settlement
     < !-- See Template:Infobox settlement for additional fields and descriptions -- > | name                            = Lombardy

[2021-04-17 22:31] ramayer commented on #267
I see other issues where "skip_style_tags=True" is a workaround - but it didn't help in this case.

I modified my code to try:

     parsed = mwparserfromhell.parse(lombardy['body'],skip_style_tags=True)
     parsed.filter_templates()

and still don't see the infobox from Lombardy's page.

[2021-04-19 06:11] earwig commented on #267
What version of mwparserfromhell are you using, and what revision ID of Lombardy are you trying to load? I don't have any problem parsing the infobox with the latest parser version on the current revision of that page.

[2021-04-24 22:00] RheingoldRiver opened #268 "Possible way to delete a node?"
Hi, one thing that comes up a lot is wanting to delete a template or a section, etc, completely from a page. What I would like is a method called `.delete()` that replaces the entire contents of the node with an empty string basically. Does some functionality for this already exist that I'm missing? Or would this be possible to add (either to the base node class, or to Template) ?

Right now what

[2021-04-24 22:10] earwig commented on #268
`code.remove(node)`

E.g.:

[code]

[2021-04-24 22:11] earwig commented on #268
BTW: Nodes don't know what they're contained in, so adding the method to the node itself isn't currently possible. This will change at some point in the future, then we could add a method to the node itself.